Data Pipelines/MYSGSEU_DELTA/MYSGSEU_tbl_logins_DELTA.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "SqlServerSource",
            "sqlReaderQuery": {
              "value": "SELECT SYS_CHANGE_VERSION FROM ChangeTracking_Fabric_Update WHERE TableName = 'tbl_logins'\n",
              "type": "Expression"
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "SqlServerTable",
            "typeProperties": {
              "database": "SGSEDW"
            },
            "schema": [],
            "externalReferences": {
              "connection": "ff095757-8473-4556-8458-e2e46c574e03"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "LookupOld",
        "dependsOn": []
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "SqlServerSource",
            "sqlReaderQuery": {
              "value": "SELECT DISTINCT \n        ISNULL(MAX(CT.SYS_CHANGE_VERSION),0) AS SYS_CHANGE_VERSION     \nFROM CHANGETABLE(CHANGES [DBO].[tbl_logins],0) CT\nLEFT JOIN [DBO].[tbl_logins] F\n ON CT.[LoginId] = F.[LoginId]\nWHERE ISNULL(CT.[SYS_CHANGE_VERSION],'') > ''\n",
              "type": "Expression"
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "SqlServerTable",
            "typeProperties": {
              "database": "MCGDataFactory"
            },
            "schema": [],
            "externalReferences": {
              "connection": "9ec72f35-598c-46cf-b8ad-16ab19fb641f"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "LookupNew",
        "dependsOn": []
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "SqlServerSource",
            "sqlReaderQuery": {
              "value": "SELECT\n      CT.SYS_CHANGE_VERSION ,\n      CT.SYS_CHANGE_CREATION_VERSION ,\n      CT.SYS_CHANGE_OPERATION ,\n      CT.SYS_CHANGE_COLUMNS ,\n      CT.SYS_CHANGE_CONTEXT ,\n      CT.[LoginId] as CT_LoginId,       \n      F.[LoginId]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[Email],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [Email]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[Password],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [Password]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[UserLevel],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [UserLevel]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[LoginType],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [LoginType]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[LoginStatus],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [LoginStatus]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[ChangePwd],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [ChangePwd]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[PasswordChangeDue],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [PasswordChangeDue]\n      ,[PasswordChangeDueDate]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[PasswordResetGUID],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [PasswordResetGUID]\n      ,[CreatedDate]\n      ,[UpdatedDate]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[UsedBCrypt],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [UsedBCrypt]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[PasswordSalt],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [PasswordSalt]        \nFROM CHANGETABLE(CHANGES [DBO].[tbl_logins],@{activity('LookupOld').output.firstRow.SYS_CHANGE_VERSION}) CT \nLEFT JOIN [DBO].[tbl_logins] F\nON F.[LoginId] = CT.[LoginId] \nWHERE ISNULL(CT.[SYS_CHANGE_VERSION],'') > ''\nAND ISNULL(CT.SYS_CHANGE_VERSION,0) <= @{activity('LookupNew').output.firstRow.SYS_CHANGE_VERSION}",
              "type": "Expression"
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00",
            "datasetSettings": {
              "type": "SqlServerTable",
              "typeProperties": {
                "database": "MCGDataFactory"
              },
              "schema": [],
              "externalReferences": {
                "connection": "9ec72f35-598c-46cf-b8ad-16ab19fb641f"
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "DelimitedTextSink",
            "formatSettings": {
              "type": "DelimitedTextWriteSettings",
              "quoteAllText": true,
              "fileExtension": ".csv"
            },
            "storeSettings": {
              "type": "LakehouseWriteSettings"
            },
            "datasetSettings": {
              "type": "DelimitedText",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": "MYSGSEU/Delta/Active",
                  "fileName": {
                    "value": "@concat('MYSGSEU','_','tbl_logins','.csv')",
                    "type": "Expression"
                  }
                },
                "columnDelimiter": "^",
                "rowDelimiter": "\r\n",
                "quoteChar": "\"",
                "escapeChar": "\\",
                "firstRowAsHeader": true
              },
              "schema": [],
              "linkedService": {
                "name": "BRONZE",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "3ee820a0-65ee-9781-4ac4-e11f5db3d583",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "tbl_logins_DELTA_CSV",
        "dependsOn": [
          {
            "activity": "LookupNew",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "LookupOld",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "SqlServerSource",
            "sqlReaderQuery": {
              "value": "SELECT\n      CT.SYS_CHANGE_VERSION ,\n      CT.SYS_CHANGE_CREATION_VERSION ,\n      CT.SYS_CHANGE_OPERATION ,\n      CT.SYS_CHANGE_COLUMNS ,\n      CT.SYS_CHANGE_CONTEXT ,\n      CT.[LoginId] as CT_LoginId,       \n      F.[LoginId]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[Email],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [Email]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[Password],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [Password]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[UserLevel],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [UserLevel]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[LoginType],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [LoginType]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[LoginStatus],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [LoginStatus]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[ChangePwd],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [ChangePwd]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[PasswordChangeDue],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [PasswordChangeDue]\n      ,[PasswordChangeDueDate]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[PasswordResetGUID],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [PasswordResetGUID]\n      ,[CreatedDate]\n      ,[UpdatedDate]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[UsedBCrypt],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [UsedBCrypt]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[PasswordSalt],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [PasswordSalt]        \nFROM CHANGETABLE(CHANGES [DBO].[tbl_logins],@{activity('LookupOld').output.firstRow.SYS_CHANGE_VERSION}) CT \nLEFT JOIN [DBO].[tbl_logins] F\nON F.[LoginId] = CT.[LoginId] \nWHERE ISNULL(CT.[SYS_CHANGE_VERSION],'') > ''\nAND ISNULL(CT.SYS_CHANGE_VERSION,0) <= @{activity('LookupNew').output.firstRow.SYS_CHANGE_VERSION}",
              "type": "Expression"
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00",
            "datasetSettings": {
              "type": "SqlServerTable",
              "typeProperties": {
                "database": "MCGDataFactory"
              },
              "schema": [],
              "externalReferences": {
                "connection": "9ec72f35-598c-46cf-b8ad-16ab19fb641f"
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "ParquetSink",
            "formatSettings": {
              "type": "ParquetWriteSettings",
              "enableVertiParquet": true
            },
            "storeSettings": {
              "type": "LakehouseWriteSettings"
            },
            "datasetSettings": {
              "type": "Parquet",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": "MYSGSEU/Delta/Active",
                  "fileName": {
                    "value": "@concat('MYSGSEU','_','tbl_logins','.parquet')\n",
                    "type": "Expression"
                  }
                },
                "compressionCodec": "snappy"
              },
              "schema": [],
              "linkedService": {
                "name": "BRONZE",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "3ee820a0-65ee-9781-4ac4-e11f5db3d583",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "tbl_logins_DELTA_PARQUET",
        "dependsOn": [
          {
            "activity": "tbl_logins_DELTA_CSV",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "DelimitedTextSource",
            "formatSettings": {
              "type": "DelimitedTextReadSettings"
            },
            "storeSettings": {
              "type": "LakehouseReadSettings",
              "recursive": true,
              "enablePartitionDiscovery": false
            },
            "datasetSettings": {
              "type": "DelimitedText",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": "MYSGSEU/Delta/Active",
                  "fileName": "MYSGSEU_tbl_logins.csv"
                },
                "columnDelimiter": "^",
                "rowDelimiter": "\r\n",
                "quoteChar": "\"",
                "escapeChar": "\\",
                "firstRowAsHeader": true
              },
              "schema": [],
              "linkedService": {
                "name": "BRONZE",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "3ee820a0-65ee-9781-4ac4-e11f5db3d583",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "LakehouseTableSink",
            "tableActionOption": "OverwriteSchema",
            "partitionOption": "None",
            "datasetSettings": {
              "type": "LakehouseTable",
              "typeProperties": {
                "schema": "MYSGSEU",
                "table": "tbl_logins_DELTA"
              },
              "schema": [],
              "linkedService": {
                "name": "BRONZE",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "3ee820a0-65ee-9781-4ac4-e11f5db3d583",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Tables"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "File_To_Table",
        "dependsOn": [
          {
            "activity": "ChangeTracking_version_Update",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Script",
        "typeProperties": {
          "database": "SGSEDW",
          "scripts": [
            {
              "text": {
                "value": "UPDATE ChangeTracking_Fabric_Update\r\nSET [SYS_CHANGE_VERSION] = @{activity('LookupNew').output.firstRow.SYS_CHANGE_VERSION}\r\nWHERE [TableName] = 'tbl_logins'",
                "type": "Expression"
              },
              "type": "Query"
            }
          ],
          "scriptBlockExecutionTimeout": "02:00:00"
        },
        "externalReferences": {
          "connection": "ff095757-8473-4556-8458-e2e46c574e03"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "ChangeTracking_version_Update",
        "dependsOn": [
          {
            "activity": "tbl_logins_DELTA_PARQUET",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "c91906df-74fa-a320-4aeb-d795a902b510",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "in_mode": {
              "value": "DELTA",
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "tbl_logins_Notebook",
        "dependsOn": [
          {
            "activity": "File_To_Table",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource",
            "datasetSettings": {
              "type": "LakehouseTable",
              "typeProperties": {
                "schema": "MYSGSEU",
                "table": "tbl_logins"
              },
              "schema": [],
              "linkedService": {
                "name": "SILVER",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "05f4420f-4b0f-ba5b-4c58-0501aabf914c",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Tables"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "SnowflakeSink",
            "preCopyScript": {
              "value": "TRUNCATE TABLE \"SILVER_FABRIC\".\"MYSGSEU\".\"tbl_logins\";  \n",
              "type": "Expression"
            },
            "importSettings": {
              "type": "SnowflakeImportCopyCommand"
            },
            "datasetSettings": {
              "type": "SnowflakeTable",
              "typeProperties": {
                "schema": "MYSGSEU",
                "table": "tbl_logins",
                "database": "SILVER_FABRIC"
              },
              "schema": [],
              "externalReferences": {
                "connection": "5d21465f-20b5-454e-a1d5-e8e11b3c796a"
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": true
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Fabric_to_SF_tbl_logins",
        "dependsOn": [
          {
            "activity": "tbl_logins_Notebook",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource",
            "datasetSettings": {
              "type": "LakehouseTable",
              "typeProperties": {
                "schema": "MYSGSEU",
                "table": "tbl_logins"
              },
              "schema": [],
              "linkedService": {
                "name": "SILVER",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "05f4420f-4b0f-ba5b-4c58-0501aabf914c",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Tables"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "SnowflakeSink",
            "preCopyScript": {
              "value": "TRUNCATE TABLE \"SILVER_FABRIC\".\"MYSGSEU\".\"tbl_logins\";  \n",
              "type": "Expression"
            },
            "importSettings": {
              "type": "SnowflakeImportCopyCommand"
            },
            "datasetSettings": {
              "type": "SnowflakeTable",
              "typeProperties": {
                "schema": "MYSGSEU",
                "table": "tbl_logins",
                "database": "SILVER_FABRIC"
              },
              "schema": [],
              "externalReferences": {
                "connection": "5d21465f-20b5-454e-a1d5-e8e11b3c796a"
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": true
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Fabric_to_SF_tbl_logins_dev",
        "dependsOn": [
          {
            "activity": "tbl_logins_Notebook",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}