Data Pipelines/MYSGSEU_DELTA/MYSGSEU_tbl_customers_DELTA.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "SqlServerSource",
            "sqlReaderQuery": {
              "value": "SELECT SYS_CHANGE_VERSION FROM ChangeTracking_Fabric_Update WHERE TableName = 'tbl_customers'",
              "type": "Expression"
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "SqlServerTable",
            "typeProperties": {
              "database": "SGSWEB"
            },
            "schema": [],
            "externalReferences": {
              "connection": "b61c5550-087f-4c68-a3be-ee036e728bd1"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "LookupOld",
        "dependsOn": []
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "SqlServerSource",
            "sqlReaderQuery": {
              "value": "SELECT DISTINCT \n\t\tISNULL(MAX(CT.SYS_CHANGE_VERSION),0) AS SYS_CHANGE_VERSION\t   \nFROM CHANGETABLE(CHANGES [DBO].[tbl_customers],0) CT\nLEFT JOIN [DBO].[tbl_customers] F\n ON CT.[CustomerId] = F.[CustomerId]\nWHERE ISNULL(CT.[SYS_CHANGE_VERSION],'') > ''",
              "type": "Expression"
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "SqlServerTable",
            "typeProperties": {
              "database": "MCGDataFactory"
            },
            "schema": [],
            "externalReferences": {
              "connection": "9ec72f35-598c-46cf-b8ad-16ab19fb641f"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "LookupNew",
        "dependsOn": []
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "SqlServerSource",
            "sqlReaderQuery": {
              "value": "SELECT \n\t\tCT.SYS_CHANGE_VERSION\n\t   ,CT.SYS_CHANGE_CREATION_VERSION\n\t   ,CT.SYS_CHANGE_OPERATION\n\t   ,CT.SYS_CHANGE_COLUMNS\n\t   ,CT.SYS_CHANGE_CONTEXT\n\t   ,CT.[CustomerId] as CT_CustomerId\n\t  ,F.[CustomerId]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[CustomerName],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [CustomerName] \n      ,F.[CustomerType]\n      ,F.[PORequired]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[AccountNo],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [AccountNo] \n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[VATCodeNo],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [VATCodeNo] \n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[Terms],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [Terms] \n      ,F.[DefaultInvoiceAddress]\n      ,F.[DefaultShippingAddress]\n      ,F.[TaxCodeId]\n      ,F.[ExchangeRateId]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[AbbreviatedName],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [AbbreviatedName] \n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[Alias],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [Alias] \n      ,F.[DefaultInvoicePostingAddress]\n      ,F.[DimensionsCustomer]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[DimensionsAccountNo],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [DimensionsAccountNo] \n      ,F.[ApprovalSystem]\n      ,F.[DefaultLegalEntityAddress]\n      ,F.[CurrencyId]\n      ,F.[SiteId]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[OB10Number],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [OB10Number] \n      ,F.[CustomerDeleted]\n      ,F.[CreatedDate]\n      ,F.[UpdatedDate]\n      ,F.[BillTo]\n      ,F.[SoldTo]\n      ,F.[ShipTo]\n      ,F.[DAXCustomerId]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[GS1EntityGLIN],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [GS1EntityGLIN] \n      ,F.[GS1CompanyName]\n      ,F.[GS1UpdatedOn]\n      ,F.[GS1UpdatedBy]\n      ,F.[GS1UpdatedFrom]\n      ,F.[ShowTaxQuote]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[EDIAccountNumber],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [EDIAccountNumber]\n      ,F.[AutoInvoice]\n      ,F.[ChecklistException]\n      ,F.[PortfolioGroupId]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[ScoroAPICustomerName],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [ScoroAPICustomerName]\n      ,F.[NSection]\n      ,F.[BankId]\n      ,F.[Ogone]\n      ,F.[ServiceChargeExempt]\nFROM  CHANGETABLE(CHANGES [DBO].[tbl_customers],@{activity('LookupOld').output.firstRow.SYS_CHANGE_VERSION}) CT\n  LEFT JOIN [DBO].[tbl_customers] F\n  ON CT.[CustomerId] = F.[CustomerId]\n  WHERE ISNULL(CT.[SYS_CHANGE_VERSION],'') > ''\n  AND ISNULL(CT.SYS_CHANGE_VERSION,0) <= @{activity('LookupNew').output.firstRow.SYS_CHANGE_VERSION}",
              "type": "Expression"
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00",
            "datasetSettings": {
              "type": "SqlServerTable",
              "typeProperties": {
                "database": "MCGDataFactory"
              },
              "schema": [],
              "externalReferences": {
                "connection": "9ec72f35-598c-46cf-b8ad-16ab19fb641f"
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "DelimitedTextSink",
            "formatSettings": {
              "type": "DelimitedTextWriteSettings",
              "quoteAllText": true,
              "fileExtension": ".csv"
            },
            "storeSettings": {
              "type": "LakehouseWriteSettings"
            },
            "datasetSettings": {
              "type": "DelimitedText",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": "MYSGSEU/Delta/Active",
                  "fileName": {
                    "value": "@concat('MYSGSEU','_','tbl_customers','.csv')",
                    "type": "Expression"
                  }
                },
                "columnDelimiter": "^",
                "rowDelimiter": "\r\n",
                "quoteChar": "\"",
                "escapeChar": "\\",
                "firstRowAsHeader": true
              },
              "schema": [],
              "linkedService": {
                "name": "BRONZE",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "3ee820a0-65ee-9781-4ac4-e11f5db3d583",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "MYSGSEU_tbl_customers_DELTA_CSV",
        "dependsOn": [
          {
            "activity": "LookupNew",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "LookupOld",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "SqlServerSource",
            "sqlReaderQuery": {
              "value": "SELECT \n\t\tCT.SYS_CHANGE_VERSION\n\t   ,CT.SYS_CHANGE_CREATION_VERSION\n\t   ,CT.SYS_CHANGE_OPERATION\n\t   ,CT.SYS_CHANGE_COLUMNS\n\t   ,CT.SYS_CHANGE_CONTEXT\n\t   ,CT.[CustomerId] as CT_CustomerId\n\t  ,F.[CustomerId]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[CustomerName],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [CustomerName] \n      ,F.[CustomerType]\n      ,F.[PORequired]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[AccountNo],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [AccountNo] \n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[VATCodeNo],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [VATCodeNo] \n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[Terms],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [Terms] \n      ,F.[DefaultInvoiceAddress]\n      ,F.[DefaultShippingAddress]\n      ,F.[TaxCodeId]\n      ,F.[ExchangeRateId]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[AbbreviatedName],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [AbbreviatedName] \n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[Alias],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [Alias] \n      ,F.[DefaultInvoicePostingAddress]\n      ,F.[DimensionsCustomer]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[DimensionsAccountNo],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [DimensionsAccountNo] \n      ,F.[ApprovalSystem]\n      ,F.[DefaultLegalEntityAddress]\n      ,F.[CurrencyId]\n      ,F.[SiteId]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[OB10Number],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [OB10Number] \n      ,F.[CustomerDeleted]\n      ,F.[CreatedDate]\n      ,F.[UpdatedDate]\n      ,F.[BillTo]\n      ,F.[SoldTo]\n      ,F.[ShipTo]\n      ,F.[DAXCustomerId]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[GS1EntityGLIN],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [GS1EntityGLIN] \n      ,F.[GS1CompanyName]\n      ,F.[GS1UpdatedOn]\n      ,F.[GS1UpdatedBy]\n      ,F.[GS1UpdatedFrom]\n      ,F.[ShowTaxQuote]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[EDIAccountNumber],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [EDIAccountNumber]\n      ,F.[AutoInvoice]\n      ,F.[ChecklistException]\n      ,F.[PortfolioGroupId]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[ScoroAPICustomerName],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [ScoroAPICustomerName]\n      ,F.[NSection]\n      ,F.[BankId]\n      ,F.[Ogone]\n      ,F.[ServiceChargeExempt]\nFROM  CHANGETABLE(CHANGES [DBO].[tbl_customers],@{activity('LookupOld').output.firstRow.SYS_CHANGE_VERSION}) CT\n  LEFT JOIN [DBO].[tbl_customers] F\n  ON CT.[CustomerId] = F.[CustomerId]\n  WHERE ISNULL(CT.[SYS_CHANGE_VERSION],'') > ''\n  AND ISNULL(CT.SYS_CHANGE_VERSION,0) <= @{activity('LookupNew').output.firstRow.SYS_CHANGE_VERSION}",
              "type": "Expression"
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00",
            "datasetSettings": {
              "type": "SqlServerTable",
              "typeProperties": {
                "database": "MCGDataFactory"
              },
              "schema": [],
              "externalReferences": {
                "connection": "9ec72f35-598c-46cf-b8ad-16ab19fb641f"
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "ParquetSink",
            "formatSettings": {
              "type": "ParquetWriteSettings",
              "enableVertiParquet": true
            },
            "storeSettings": {
              "type": "LakehouseWriteSettings"
            },
            "datasetSettings": {
              "type": "Parquet",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": "MYSGSEU/Delta/Active",
                  "fileName": {
                    "value": "@concat('MYSGSEU','_','tbl_customers','.parquet')",
                    "type": "Expression"
                  }
                },
                "compressionCodec": "snappy"
              },
              "schema": [],
              "linkedService": {
                "name": "BRONZE",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "3ee820a0-65ee-9781-4ac4-e11f5db3d583",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "MYSGSEU_tbl_customers_DELTA_PARQUET",
        "dependsOn": [
          {
            "activity": "MYSGSEU_tbl_customers_DELTA_CSV",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Script",
        "typeProperties": {
          "database": "SGSWEB",
          "scripts": [
            {
              "text": {
                "value": "UPDATE ChangeTracking_Fabric_Update\r\nSET [SYS_CHANGE_VERSION] = @{activity('LookupNew').output.firstRow.SYS_CHANGE_VERSION}\r\nWHERE [TableName] = 'tbl_customers'",
                "type": "Expression"
              },
              "type": "Query"
            }
          ],
          "scriptBlockExecutionTimeout": "02:00:00"
        },
        "externalReferences": {
          "connection": "b61c5550-087f-4c68-a3be-ee036e728bd1"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "ChangeTracking_version_Update",
        "dependsOn": [
          {
            "activity": "MYSGSEU_tbl_customers_DELTA_PARQUET",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "DelimitedTextSource",
            "formatSettings": {
              "type": "DelimitedTextReadSettings"
            },
            "storeSettings": {
              "type": "LakehouseReadSettings",
              "recursive": true,
              "enablePartitionDiscovery": false
            },
            "datasetSettings": {
              "type": "DelimitedText",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": "MYSGSEU/Delta/Active",
                  "fileName": "MYSGSEU_tbl_customers.csv"
                },
                "columnDelimiter": "^",
                "rowDelimiter": "\r\n",
                "quoteChar": "\"",
                "escapeChar": "\\",
                "firstRowAsHeader": true
              },
              "schema": [],
              "linkedService": {
                "name": "BRONZE",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "3ee820a0-65ee-9781-4ac4-e11f5db3d583",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "LakehouseTableSink",
            "tableActionOption": "OverwriteSchema",
            "partitionOption": "None",
            "datasetSettings": {
              "type": "LakehouseTable",
              "typeProperties": {
                "schema": "MYSGSEU",
                "table": "tbl_customers_DELTA"
              },
              "schema": [],
              "linkedService": {
                "name": "BRONZE",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "3ee820a0-65ee-9781-4ac4-e11f5db3d583",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Tables"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "File_To_Table",
        "dependsOn": [
          {
            "activity": "ChangeTracking_version_Update",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "008ba5cd-8113-b616-4ba8-4ae93baffc55",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "in_mode": {
              "value": "DELTA",
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "tbl_customers_Notebook",
        "dependsOn": [
          {
            "activity": "File_To_Table",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource",
            "datasetSettings": {
              "type": "LakehouseTable",
              "typeProperties": {
                "schema": "MYSGSEU",
                "table": "tbl_customers"
              },
              "schema": [],
              "linkedService": {
                "name": "SILVER",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "aabf914c-0501-4c58-ba5b-4b0f05f4420f",
                    "workspaceId": "c8d75176-b949-4f7e-a658-b996603ec8c3",
                    "rootFolder": "Tables"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "SnowflakeSink",
            "preCopyScript": {
              "value": "TRUNCATE TABLE \"SILVER\".\"MYSGSEU\".\"tbl_customers\";",
              "type": "Expression"
            },
            "importSettings": {
              "type": "SnowflakeImportCopyCommand"
            },
            "datasetSettings": {
              "type": "SnowflakeTable",
              "typeProperties": {
                "schema": "MYSGSEU",
                "table": "tbl_customers",
                "database": "SILVER"
              },
              "schema": [],
              "externalReferences": {
                "connection": "dfdf593d-e2f5-4d2f-aa71-5da8cf3d25ac"
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": true
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Fabric_To_SF_tbl_customers",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": [
          {
            "activity": "tbl_customers_Notebook",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource",
            "datasetSettings": {
              "type": "LakehouseTable",
              "typeProperties": {
                "schema": "MYSGSEU",
                "table": "tbl_customers"
              },
              "schema": [],
              "linkedService": {
                "name": "SILVER",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "05f4420f-4b0f-ba5b-4c58-0501aabf914c",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Tables"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "SnowflakeSink",
            "preCopyScript": {
              "value": "TRUNCATE TABLE \"SILVER\".\"MYSGSEU\".\"tbl_customers\";",
              "type": "Expression"
            },
            "importSettings": {
              "type": "SnowflakeImportCopyCommand"
            },
            "datasetSettings": {
              "type": "SnowflakeTable",
              "typeProperties": {
                "schema": "MYSGSEU",
                "table": "tbl_customers",
                "database": "SILVER"
              },
              "schema": [],
              "externalReferences": {
                "connection": "5d21465f-20b5-454e-a1d5-e8e11b3c796a"
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": true
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Fabric_To_DEV_SF_tbl_customers",
        "dependsOn": [
          {
            "activity": "tbl_customers_Notebook",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}