Data Pipelines/MYSGSEU_DELTA/MYSGSEU_tbl_pg_pdr_DELTA.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "SqlServerSource",
            "sqlReaderQuery": {
              "value": "SELECT SYS_CHANGE_VERSION FROM ChangeTracking_Fabric_Update WHERE TableName = 'tbl_pg_pdr'",
              "type": "Expression"
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "SqlServerTable",
            "typeProperties": {
              "database": "SGSWEB"
            },
            "schema": [],
            "externalReferences": {
              "connection": "b61c5550-087f-4c68-a3be-ee036e728bd1"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "LookupOld",
        "dependsOn": []
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "SqlServerSource",
            "sqlReaderQuery": {
              "value": "SELECT DISTINCT \n\t\tISNULL(MAX(CT.SYS_CHANGE_VERSION),0) AS SYS_CHANGE_VERSION\t   \nFROM CHANGETABLE(CHANGES [dbo].[tbl_pg_pdr],0) CT\nLEFT JOIN [dbo].[tbl_pg_pdr] F\n ON CT.[PDRId] = F.[PDRId]\nWHERE ISNULL(CT.[SYS_CHANGE_VERSION],'') > ''",
              "type": "Expression"
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "SqlServerTable",
            "typeProperties": {
              "database": "MCGDataFactory"
            },
            "schema": [],
            "externalReferences": {
              "connection": "9ec72f35-598c-46cf-b8ad-16ab19fb641f"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "LookupNew",
        "dependsOn": []
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "SqlServerSource",
            "sqlReaderQuery": {
              "value": "SELECT \n        CT.SYS_CHANGE_VERSION\n       ,CT.SYS_CHANGE_CREATION_VERSION\n       ,CT.SYS_CHANGE_OPERATION\n       ,CT.SYS_CHANGE_COLUMNS\n       ,CT.SYS_CHANGE_CONTEXT\n       ,CT.PDRId AS CT_PDRId\n      , F.PDRId\n       ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE([PDRNumber],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [PDRNumber]\n\t   ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE([ProjectName],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [ProjectName]\n\t   ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE([GBU],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [GBU]\n\t   ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE([Category],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [Category]\n\t   ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE([Scale],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [Scale]\n\t   ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE([MDO],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [MDO]\n\t   ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE([LeadCountry],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [LeadCountry]\n\t   ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE([Status],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [Status]\n\t   ,[LastUpdate]\n\t   ,[FirstShipment]\n\t   ,[XMLVersionNumber]\n\t   ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE([ProjectDescription],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [ProjectDescription]\n\t   ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE([EstimatedStartDate],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [EstimatedStartDate]\n\t   ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE([ActualStartDate],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [ActualStartDate]\n\t   ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE([ActualFinishDate],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [ActualFinishDate]\n\t   ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE([ArtworkPackage],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [ArtworkPackage]\n\t   ,\n\t    CASE\n     WHEN [Obsolete] = 'True' THEN 1      \n     WHEN [Obsolete] = 'False' THEN 0\n  ELSE [Obsolete]\nEND AS [Obsolete]\n     FROM  CHANGETABLE(CHANGES [dbo].[tbl_pg_pdr],@{activity('LookupOld').output.firstRow.SYS_CHANGE_VERSION}) CT \n     LEFT JOIN [dbo].[tbl_pg_pdr] F\n     ON CT.PDRId = F.PDRId\n     WHERE ISNULL(CT.[SYS_CHANGE_VERSION],'') > ''\n     AND ISNULL(CT.SYS_CHANGE_VERSION,0) <= @{activity('LookupNew').output.firstRow.SYS_CHANGE_VERSION}\n\n\n\n\t ",
              "type": "Expression"
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00",
            "datasetSettings": {
              "type": "SqlServerTable",
              "typeProperties": {
                "database": "MCGDataFactory"
              },
              "schema": [],
              "externalReferences": {
                "connection": "9ec72f35-598c-46cf-b8ad-16ab19fb641f"
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "DelimitedTextSink",
            "formatSettings": {
              "type": "DelimitedTextWriteSettings",
              "quoteAllText": true,
              "fileExtension": ".csv"
            },
            "storeSettings": {
              "type": "LakehouseWriteSettings"
            },
            "datasetSettings": {
              "type": "DelimitedText",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": "MYSGSEU/Delta/Active",
                  "fileName": {
                    "value": "@concat('MYSGSEU','_','tbl_pg_pdr','.csv')",
                    "type": "Expression"
                  }
                },
                "columnDelimiter": "^",
                "rowDelimiter": "\r\n",
                "quoteChar": "\"",
                "escapeChar": "\\",
                "firstRowAsHeader": true
              },
              "schema": [],
              "linkedService": {
                "name": "BRONZE",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "3ee820a0-65ee-9781-4ac4-e11f5db3d583",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "tbl_pg_pdr_DELTA_CSV",
        "dependsOn": [
          {
            "activity": "LookupNew",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "LookupOld",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "SqlServerSource",
            "sqlReaderQuery": {
              "value": "SELECT \n        CT.SYS_CHANGE_VERSION\n       ,CT.SYS_CHANGE_CREATION_VERSION\n       ,CT.SYS_CHANGE_OPERATION\n       ,CT.SYS_CHANGE_COLUMNS\n       ,CT.SYS_CHANGE_CONTEXT\n       ,CT.PDRId AS CT_PDRId\n      , F.PDRId\n       ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE([PDRNumber],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [PDRNumber]\n\t   ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE([ProjectName],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [ProjectName]\n\t   ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE([GBU],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [GBU]\n\t   ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE([Category],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [Category]\n\t   ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE([Scale],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [Scale]\n\t   ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE([MDO],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [MDO]\n\t   ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE([LeadCountry],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [LeadCountry]\n\t   ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE([Status],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [Status]\n\t   ,[LastUpdate]\n\t   ,[FirstShipment]\n\t   ,[XMLVersionNumber]\n\t   ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE([ProjectDescription],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [ProjectDescription]\n\t   ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE([EstimatedStartDate],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [EstimatedStartDate]\n\t   ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE([ActualStartDate],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [ActualStartDate]\n\t   ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE([ActualFinishDate],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [ActualFinishDate]\n\t   ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE([ArtworkPackage],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [ArtworkPackage]\n\t   ,\n\t    CASE\n     WHEN [Obsolete] = 'True' THEN 1      \n     WHEN [Obsolete] = 'False' THEN 0\n  ELSE [Obsolete]\nEND AS [Obsolete]\n     FROM  CHANGETABLE(CHANGES [dbo].[tbl_pg_pdr],@{activity('LookupOld').output.firstRow.SYS_CHANGE_VERSION}) CT \n     LEFT JOIN [dbo].[tbl_pg_pdr] F\n     ON CT.PDRId = F.PDRId\n     WHERE ISNULL(CT.[SYS_CHANGE_VERSION],'') > ''\n     AND ISNULL(CT.SYS_CHANGE_VERSION,0) <= @{activity('LookupNew').output.firstRow.SYS_CHANGE_VERSION}\n\n\n\n\t ",
              "type": "Expression"
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00",
            "datasetSettings": {
              "type": "SqlServerTable",
              "typeProperties": {
                "database": "MCGDataFactory"
              },
              "schema": [],
              "externalReferences": {
                "connection": "9ec72f35-598c-46cf-b8ad-16ab19fb641f"
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "ParquetSink",
            "formatSettings": {
              "type": "ParquetWriteSettings",
              "enableVertiParquet": true
            },
            "storeSettings": {
              "type": "LakehouseWriteSettings"
            },
            "datasetSettings": {
              "type": "Parquet",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": "MYSGSEU/Delta/Active",
                  "fileName": {
                    "value": "@concat('MYSGSEU','_','tbl_pg_pdr','.parquet')",
                    "type": "Expression"
                  }
                },
                "compressionCodec": "snappy"
              },
              "schema": [],
              "linkedService": {
                "name": "BRONZE",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "3ee820a0-65ee-9781-4ac4-e11f5db3d583",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "tbl_pg_pdr_DELTA_PARQUET",
        "dependsOn": [
          {
            "activity": "tbl_pg_pdr_DELTA_CSV",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Script",
        "typeProperties": {
          "database": "SGSWEB",
          "scripts": [
            {
              "text": {
                "value": "UPDATE ChangeTracking_Fabric_Update\r\nSET [SYS_CHANGE_VERSION] = @{activity('LookupNew').output.firstRow.SYS_CHANGE_VERSION}\r\nWHERE [TableName] = 'tbl_pg_pdr'",
                "type": "Expression"
              },
              "type": "Query"
            }
          ],
          "scriptBlockExecutionTimeout": "02:00:00"
        },
        "externalReferences": {
          "connection": "b61c5550-087f-4c68-a3be-ee036e728bd1"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "ChangeTracking_version_Update",
        "dependsOn": [
          {
            "activity": "tbl_pg_pdr_DELTA_PARQUET",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "DelimitedTextSource",
            "formatSettings": {
              "type": "DelimitedTextReadSettings"
            },
            "storeSettings": {
              "type": "LakehouseReadSettings",
              "recursive": true,
              "enablePartitionDiscovery": false
            },
            "datasetSettings": {
              "type": "DelimitedText",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": "MYSGSEU/Delta/Active",
                  "fileName": "MYSGSEU_tbl_pg_pdr.csv"
                },
                "columnDelimiter": "^",
                "rowDelimiter": "\r\n",
                "quoteChar": "\"",
                "escapeChar": "\\",
                "firstRowAsHeader": true
              },
              "schema": [],
              "linkedService": {
                "name": "BRONZE",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "3ee820a0-65ee-9781-4ac4-e11f5db3d583",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "LakehouseTableSink",
            "tableActionOption": "OverwriteSchema",
            "partitionOption": "None",
            "datasetSettings": {
              "type": "LakehouseTable",
              "typeProperties": {
                "schema": "MYSGSEU",
                "table": "tbl_pg_pdr_DELTA"
              },
              "schema": [],
              "linkedService": {
                "name": "BRONZE",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "3ee820a0-65ee-9781-4ac4-e11f5db3d583",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Tables"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "File_To_Table",
        "dependsOn": [
          {
            "activity": "ChangeTracking_version_Update",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "b4a2e5c6-917f-89e8-4b50-0479d551b9d2",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "in_mode": {
              "value": "DELTA",
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "tbl_pg_pdr_Notebook",
        "dependsOn": [
          {
            "activity": "File_To_Table",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource",
            "datasetSettings": {
              "type": "LakehouseTable",
              "typeProperties": {
                "schema": "MYSGSEU",
                "table": "tbl_pg_pdr"
              },
              "schema": [],
              "linkedService": {
                "name": "SILVER",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "aabf914c-0501-4c58-ba5b-4b0f05f4420f",
                    "workspaceId": "c8d75176-b949-4f7e-a658-b996603ec8c3",
                    "rootFolder": "Tables"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "SnowflakeSink",
            "preCopyScript": {
              "value": "TRUNCATE TABLE \"SILVER\".\"MYSGSEU\".\"tbl_pg_pdr\";  \n",
              "type": "Expression"
            },
            "importSettings": {
              "type": "SnowflakeImportCopyCommand"
            },
            "datasetSettings": {
              "type": "SnowflakeTable",
              "typeProperties": {
                "schema": "MYSGSEU",
                "table": "tbl_pg_pdr",
                "database": "SILVER"
              },
              "schema": [],
              "externalReferences": {
                "connection": "dfdf593d-e2f5-4d2f-aa71-5da8cf3d25ac"
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": true
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Fabric_to_SF_tbl_pg_pdr",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": [
          {
            "activity": "tbl_pg_pdr_Notebook",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource",
            "datasetSettings": {
              "type": "LakehouseTable",
              "typeProperties": {
                "schema": "MYSGSEU",
                "table": "tbl_pg_pdr"
              },
              "schema": [],
              "linkedService": {
                "name": "SILVER",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "05f4420f-4b0f-ba5b-4c58-0501aabf914c",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Tables"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "SnowflakeSink",
            "preCopyScript": {
              "value": "TRUNCATE TABLE \"SILVER\".\"MYSGSEU\".\"tbl_pg_pdr\";  \n",
              "type": "Expression"
            },
            "importSettings": {
              "type": "SnowflakeImportCopyCommand"
            },
            "datasetSettings": {
              "type": "SnowflakeTable",
              "typeProperties": {
                "schema": "MYSGSEU",
                "table": "tbl_pg_pdr",
                "database": "SILVER"
              },
              "schema": [],
              "externalReferences": {
                "connection": "5d21465f-20b5-454e-a1d5-e8e11b3c796a"
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": true
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Fabric_to_DEVSF_tbl_pg_pdr",
        "dependsOn": [
          {
            "activity": "tbl_pg_pdr_Notebook",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}