Data Pipelines/MYSGSEU_DELTA/MYSGSEU_Administration_TimeTracking_DELTA.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "name": "LookupNew",
        "type": "Lookup",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": [],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "source": {
            "type": "SqlServerSource",
            "sqlReaderQuery": {
              "value": "SELECT DISTINCT \n\t\tISNULL(MAX(CT.SYS_CHANGE_VERSION),0) AS SYS_CHANGE_VERSION\t   \nFROM CHANGETABLE(CHANGES [Administration].[TimeTracking],0) CT\nLEFT JOIN [Administration].[TimeTracking] F\n ON CT.[Id] = F.[Id]\nWHERE ISNULL(CT.[SYS_CHANGE_VERSION],'') > ''",
              "type": "Expression"
            },
            "queryTimeout": "02:00:00",
            "partitionOption": "None"
          },
          "firstRowOnly": true,
          "datasetSettings": {
            "annotations": [],
            "type": "SqlServerTable",
            "schema": [],
            "typeProperties": {
              "database": "MCGDataFactory"
            },
            "externalReferences": {
              "connection": "9ec72f35-598c-46cf-b8ad-16ab19fb641f"
            }
          }
        }
      },
      {
        "name": "LookupOld",
        "type": "Lookup",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": [],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "source": {
            "type": "SqlServerSource",
            "sqlReaderQuery": {
              "value": "SELECT SYS_CHANGE_VERSION FROM ChangeTracking_Fabric_Update WHERE TableName = 'Administration_TimeTracking'",
              "type": "Expression"
            },
            "queryTimeout": "02:00:00",
            "partitionOption": "None"
          },
          "firstRowOnly": true,
          "datasetSettings": {
            "annotations": [],
            "type": "SqlServerTable",
            "schema": [],
            "typeProperties": {
              "database": "SGSWEB"
            },
            "externalReferences": {
              "connection": "b61c5550-087f-4c68-a3be-ee036e728bd1"
            }
          }
        }
      },
      {
        "name": "Administration_TimeTracking_Delta_csv",
        "type": "Copy",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": [
          {
            "activity": "LookupNew",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "LookupOld",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "source": {
            "type": "SqlServerSource",
            "sqlReaderQuery": {
              "value": "SELECT \n\t\tCT.SYS_CHANGE_VERSION\n\t   ,CT.SYS_CHANGE_CREATION_VERSION\n\t   ,CT.SYS_CHANGE_OPERATION\n\t   ,CT.SYS_CHANGE_COLUMNS\n\t   ,CT.SYS_CHANGE_CONTEXT\n\t   ,CT.[Id] AS CT_Id\n\t  \t,F.[Id]\n\t,F.[InternalTime]\n\t,F.[Billable]\n\t,F.[TaskCategory]\n\t,F.[CustomerId]\n\t,F.[JobVersionId]\n\t,F.[JobTaskId]\n\t,F.[TotalMinutes]\n\t,F.[EntryDateTime]\n\t,F.[Description]\n\t,F.[LoginId]\n     FROM  CHANGETABLE(CHANGES [Administration].[TimeTracking],@{activity('LookupOld').output.firstRow.SYS_CHANGE_VERSION}) CT \n     LEFT JOIN [Administration].[TimeTracking] F\n     ON CT.[Id] = F.[Id]\n     WHERE ISNULL(CT.[SYS_CHANGE_VERSION],'') > ''\n     AND ISNULL(CT.SYS_CHANGE_VERSION,0) <= @{activity('LookupNew').output.firstRow.SYS_CHANGE_VERSION}",
              "type": "Expression"
            },
            "queryTimeout": "02:00:00",
            "partitionOption": "None",
            "datasetSettings": {
              "annotations": [],
              "type": "SqlServerTable",
              "schema": [],
              "typeProperties": {
                "database": "MCGDataFactory"
              },
              "externalReferences": {
                "connection": "9ec72f35-598c-46cf-b8ad-16ab19fb641f"
              }
            }
          },
          "sink": {
            "type": "DelimitedTextSink",
            "storeSettings": {
              "type": "LakehouseWriteSettings",
              "copyBehavior": "FlattenHierarchy"
            },
            "formatSettings": {
              "type": "DelimitedTextWriteSettings",
              "fileExtension": ".csv",
              "quoteAllText": true
            },
            "datasetSettings": {
              "annotations": [],
              "linkedService": {
                "name": "BRONZE",
                "properties": {
                  "annotations": [],
                  "type": "Lakehouse",
                  "typeProperties": {
                    "workspaceId": "c8d75176-b949-4f7e-a658-b996603ec8c3",
                    "artifactId": "5db3d583-e11f-4ac4-9781-65ee3ee820a0",
                    "rootFolder": "Files"
                  }
                }
              },
              "type": "DelimitedText",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "fileName": {
                    "value": "@concat('MYSGSEU','_','Administration_TimeTracking','.csv')",
                    "type": "Expression"
                  },
                  "folderPath": "MYSGSEU/Delta/Active"
                },
                "columnDelimiter": "^",
                "rowDelimiter": "\r\n",
                "escapeChar": "\\",
                "firstRowAsHeader": true,
                "quoteChar": "\""
              },
              "schema": []
            }
          },
          "enableStaging": false,
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          }
        }
      },
      {
        "name": "ChangeTracking_version_Update",
        "type": "Script",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": [
          {
            "activity": "File_To_Table",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "scripts": [
            {
              "type": "Query",
              "text": {
                "value": "UPDATE ChangeTracking_Fabric_Update\nSET [SYS_CHANGE_VERSION] = @{activity('LookupNew').output.firstRow.SYS_CHANGE_VERSION}\nWHERE [TableName] = 'Administration_TimeTracking'",
                "type": "Expression"
              }
            }
          ],
          "scriptBlockExecutionTimeout": "02:00:00",
          "database": "SGSWEB"
        },
        "externalReferences": {
          "connection": "b61c5550-087f-4c68-a3be-ee036e728bd1"
        }
      },
      {
        "name": "Administration_TimeTracking_Delta_parquet",
        "type": "Copy",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": [
          {
            "activity": "Administration_TimeTracking_Delta_csv",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "source": {
            "type": "SqlServerSource",
            "sqlReaderQuery": {
              "value": "SELECT \n\t\tCT.SYS_CHANGE_VERSION\n\t   ,CT.SYS_CHANGE_CREATION_VERSION\n\t   ,CT.SYS_CHANGE_OPERATION\n\t   ,CT.SYS_CHANGE_COLUMNS\n\t   ,CT.SYS_CHANGE_CONTEXT\n\t   ,CT.[Id] AS CT_Id\n\t  \t,F.[Id]\n\t,F.[InternalTime]\n\t,F.[Billable]\n\t,F.[TaskCategory]\n\t,F.[CustomerId]\n\t,F.[JobVersionId]\n\t,F.[JobTaskId]\n\t,F.[TotalMinutes]\n\t,F.[EntryDateTime]\n\t,F.[Description]\n\t,F.[LoginId]\n     FROM  CHANGETABLE(CHANGES [Administration].[TimeTracking],@{activity('LookupOld').output.firstRow.SYS_CHANGE_VERSION}) CT \n     LEFT JOIN [Administration].[TimeTracking] F\n     ON CT.[Id] = F.[Id]\n     WHERE ISNULL(CT.[SYS_CHANGE_VERSION],'') > ''\n     AND ISNULL(CT.SYS_CHANGE_VERSION,0) <= @{activity('LookupNew').output.firstRow.SYS_CHANGE_VERSION}",
              "type": "Expression"
            },
            "queryTimeout": "02:00:00",
            "partitionOption": "None",
            "datasetSettings": {
              "annotations": [],
              "type": "SqlServerTable",
              "schema": [],
              "typeProperties": {
                "database": "MCGDataFactory"
              },
              "externalReferences": {
                "connection": "9ec72f35-598c-46cf-b8ad-16ab19fb641f"
              }
            }
          },
          "sink": {
            "type": "ParquetSink",
            "storeSettings": {
              "type": "LakehouseWriteSettings"
            },
            "formatSettings": {
              "type": "ParquetWriteSettings",
              "enableVertiParquet": true
            },
            "datasetSettings": {
              "annotations": [],
              "linkedService": {
                "name": "BRONZE",
                "properties": {
                  "annotations": [],
                  "type": "Lakehouse",
                  "typeProperties": {
                    "workspaceId": "c8d75176-b949-4f7e-a658-b996603ec8c3",
                    "artifactId": "5db3d583-e11f-4ac4-9781-65ee3ee820a0",
                    "rootFolder": "Files"
                  }
                }
              },
              "type": "Parquet",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "fileName": {
                    "value": "@concat('MYSGSEU','_','Administration_TimeTracking','.parquet')",
                    "type": "Expression"
                  },
                  "folderPath": "MYSGSEU/Delta/Active"
                },
                "compressionCodec": "snappy"
              },
              "schema": []
            }
          },
          "enableStaging": false,
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          }
        }
      },
      {
        "name": "File_To_Table",
        "type": "Copy",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": [
          {
            "activity": "Administration_TimeTracking_Delta_parquet",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "source": {
            "type": "DelimitedTextSource",
            "storeSettings": {
              "type": "LakehouseReadSettings",
              "recursive": true,
              "enablePartitionDiscovery": false
            },
            "formatSettings": {
              "type": "DelimitedTextReadSettings"
            },
            "datasetSettings": {
              "annotations": [],
              "linkedService": {
                "name": "BRONZE",
                "properties": {
                  "annotations": [],
                  "type": "Lakehouse",
                  "typeProperties": {
                    "workspaceId": "c8d75176-b949-4f7e-a658-b996603ec8c3",
                    "artifactId": "5db3d583-e11f-4ac4-9781-65ee3ee820a0",
                    "rootFolder": "Files"
                  }
                }
              },
              "type": "DelimitedText",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "fileName": {
                    "value": "MYSGSEU_Administration_TimeTracking.csv",
                    "type": "Expression"
                  },
                  "folderPath": "MYSGSEU/Delta/Active"
                },
                "columnDelimiter": "^",
                "rowDelimiter": "\r\n",
                "escapeChar": "\\",
                "firstRowAsHeader": true,
                "quoteChar": "\""
              },
              "schema": []
            }
          },
          "sink": {
            "type": "LakehouseTableSink",
            "tableActionOption": "OverwriteSchema",
            "partitionOption": "None",
            "datasetSettings": {
              "annotations": [],
              "linkedService": {
                "name": "BRONZE",
                "properties": {
                  "annotations": [],
                  "type": "Lakehouse",
                  "typeProperties": {
                    "workspaceId": "c8d75176-b949-4f7e-a658-b996603ec8c3",
                    "artifactId": "5db3d583-e11f-4ac4-9781-65ee3ee820a0",
                    "rootFolder": "Tables"
                  }
                }
              },
              "type": "LakehouseTable",
              "schema": [],
              "typeProperties": {
                "schema": "MYSGSEU",
                "table": {
                  "value": "Administration_TimeTracking_DELTA",
                  "type": "Expression"
                }
              }
            }
          },
          "enableStaging": false,
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          }
        }
      },
      {
        "name": "Administration_TimeTracking_Notebook",
        "type": "TridentNotebook",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": [
          {
            "activity": "ChangeTracking_version_Update",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "notebookId": "6d245ece-df2c-4ae2-9ba1-45ee3cb4fe2a",
          "workspaceId": "c8d75176-b949-4f7e-a658-b996603ec8c3",
          "parameters": {
            "in_mode": {
              "value": "DELTA",
              "type": "string"
            }
          }
        }
      },
      {
        "name": "Fabric_To_SF_Administration_TimeTracking",
        "type": "Copy",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": [
          {
            "activity": "Administration_TimeTracking_Notebook",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource",
            "datasetSettings": {
              "annotations": [],
              "linkedService": {
                "name": "SILVER",
                "properties": {
                  "annotations": [],
                  "type": "Lakehouse",
                  "typeProperties": {
                    "workspaceId": "c8d75176-b949-4f7e-a658-b996603ec8c3",
                    "artifactId": "aabf914c-0501-4c58-ba5b-4b0f05f4420f",
                    "rootFolder": "Tables"
                  }
                }
              },
              "type": "LakehouseTable",
              "schema": [],
              "typeProperties": {
                "schema": "MYSGSEU",
                "table": "administration_timetracking"
              }
            }
          },
          "sink": {
            "type": "SnowflakeSink",
            "preCopyScript": {
              "value": "TRUNCATE TABLE \"SILVER\".\"MYSGSEU\".\"Administration_TimeTracking\";",
              "type": "Expression"
            },
            "importSettings": {
              "type": "SnowflakeImportCopyCommand"
            },
            "datasetSettings": {
              "annotations": [],
              "type": "SnowflakeTable",
              "schema": [],
              "typeProperties": {
                "schema": "MYSGSEU",
                "table": "Administration_TimeTracking",
                "database": "SILVER"
              },
              "externalReferences": {
                "connection": "dfdf593d-e2f5-4d2f-aa71-5da8cf3d25ac"
              }
            }
          },
          "enableStaging": true,
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          }
        }
      },
      {
        "name": "Fabric_To_DEV_SF_Administration_TimeTracking",
        "type": "Copy",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": [
          {
            "activity": "Administration_TimeTracking_Notebook",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource",
            "datasetSettings": {
              "annotations": [],
              "linkedService": {
                "name": "SILVER",
                "properties": {
                  "annotations": [],
                  "type": "Lakehouse",
                  "typeProperties": {
                    "workspaceId": "c8d75176-b949-4f7e-a658-b996603ec8c3",
                    "artifactId": "aabf914c-0501-4c58-ba5b-4b0f05f4420f",
                    "rootFolder": "Tables"
                  }
                }
              },
              "type": "LakehouseTable",
              "schema": [],
              "typeProperties": {
                "schema": "MYSGSEU",
                "table": "administration_timetracking"
              }
            }
          },
          "sink": {
            "type": "SnowflakeSink",
            "preCopyScript": {
              "value": "TRUNCATE TABLE \"SILVER\".\"MYSGSEU\".\"Administration_TimeTracking\";",
              "type": "Expression"
            },
            "importSettings": {
              "type": "SnowflakeImportCopyCommand"
            },
            "datasetSettings": {
              "annotations": [],
              "type": "SnowflakeTable",
              "schema": [],
              "typeProperties": {
                "schema": "MYSGSEU",
                "table": "Administration_TimeTracking",
                "database": "SILVER"
              },
              "externalReferences": {
                "connection": "5d21465f-20b5-454e-a1d5-e8e11b3c796a"
              }
            }
          },
          "enableStaging": true,
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          }
        }
      }
    ]
  }
}