Data Pipelines/MYSGSEU_DELTA/MYSGSEU_tbl_customer_group_members_DELTA.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "SqlServerSource",
            "sqlReaderQuery": {
              "value": "SELECT SYS_CHANGE_VERSION FROM ChangeTracking_Fabric_Update WHERE TableName = 'tbl_customer_group_members'",
              "type": "Expression"
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "SqlServerTable",
            "typeProperties": {
              "database": "SGSWEB"
            },
            "schema": [],
            "externalReferences": {
              "connection": "b61c5550-087f-4c68-a3be-ee036e728bd1"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "LookupOld",
        "dependsOn": []
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "SqlServerSource",
            "sqlReaderQuery": {
              "value": "SELECT DISTINCT \n\t\tISNULL(MAX(CT.SYS_CHANGE_VERSION),0) AS SYS_CHANGE_VERSION\t   \nFROM CHANGETABLE(CHANGES [DBO].[tbl_customer_group_members],0) CT\nLEFT JOIN [DBO].[tbl_customer_group_members] F\n ON CT.[MemberId] = F.[MemberId]\nWHERE ISNULL(CT.[SYS_CHANGE_VERSION],'') > ''",
              "type": "Expression"
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "SqlServerTable",
            "typeProperties": {
              "database": "MCGDataFactory"
            },
            "schema": [],
            "externalReferences": {
              "connection": "9ec72f35-598c-46cf-b8ad-16ab19fb641f"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "LookupNew",
        "dependsOn": []
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "SqlServerSource",
            "sqlReaderQuery": {
              "value": "SELECT \n\t\tCT.SYS_CHANGE_VERSION\n\t   ,CT.SYS_CHANGE_CREATION_VERSION\n\t   ,CT.SYS_CHANGE_OPERATION\n\t   ,CT.SYS_CHANGE_COLUMNS\n\t   ,CT.SYS_CHANGE_CONTEXT\n\t   ,CT.[MemberId] as CT_MemberId\n      ,F.[MemberId]\n      ,F.[GroupId]\n      ,F.[CustomerId]\n      ,F.[ThirdParty]\n  FROM  CHANGETABLE(CHANGES [DBO].[tbl_customer_group_members],@{activity('LookupOld').output.firstRow.SYS_CHANGE_VERSION}) CT\n  LEFT JOIN [DBO].[tbl_customer_group_members] F\n  ON CT.[MemberId] = F.[MemberId]\n  WHERE ISNULL(CT.[SYS_CHANGE_VERSION],'') > ''\n  AND ISNULL(CT.SYS_CHANGE_VERSION,0) <= @{activity('LookupNew').output.firstRow.SYS_CHANGE_VERSION}\n",
              "type": "Expression"
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00",
            "datasetSettings": {
              "type": "SqlServerTable",
              "typeProperties": {
                "database": "MCGDataFactory"
              },
              "schema": [],
              "externalReferences": {
                "connection": "9ec72f35-598c-46cf-b8ad-16ab19fb641f"
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "DelimitedTextSink",
            "formatSettings": {
              "type": "DelimitedTextWriteSettings",
              "quoteAllText": true,
              "fileExtension": ".txt"
            },
            "storeSettings": {
              "type": "LakehouseWriteSettings"
            },
            "datasetSettings": {
              "type": "DelimitedText",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": "MYSGSEU/Delta/Active",
                  "fileName": {
                    "value": "@concat('MYSGSEU','_','tbl_customer_group_members','.csv')",
                    "type": "Expression"
                  }
                },
                "columnDelimiter": "^",
                "rowDelimiter": "\r\n",
                "quoteChar": "\"",
                "escapeChar": "\\",
                "firstRowAsHeader": true
              },
              "schema": [],
              "linkedService": {
                "name": "BRONZE",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "3ee820a0-65ee-9781-4ac4-e11f5db3d583",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "tbl_customer_group_members_CSV",
        "dependsOn": [
          {
            "activity": "LookupNew",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "LookupOld",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "SqlServerSource",
            "sqlReaderQuery": {
              "value": "SELECT \n\t\tCT.SYS_CHANGE_VERSION\n\t   ,CT.SYS_CHANGE_CREATION_VERSION\n\t   ,CT.SYS_CHANGE_OPERATION\n\t   ,CT.SYS_CHANGE_COLUMNS\n\t   ,CT.SYS_CHANGE_CONTEXT\n\t   ,CT.[MemberId] as CT_MemberId\n      ,F.[MemberId]\n      ,F.[GroupId]\n      ,F.[CustomerId]\n      ,F.[ThirdParty]\n  FROM  CHANGETABLE(CHANGES [DBO].[tbl_customer_group_members],@{activity('LookupOld').output.firstRow.SYS_CHANGE_VERSION}) CT\n  LEFT JOIN [DBO].[tbl_customer_group_members] F\n  ON CT.[MemberId] = F.[MemberId]\n  WHERE ISNULL(CT.[SYS_CHANGE_VERSION],'') > ''\n  AND ISNULL(CT.SYS_CHANGE_VERSION,0) <= @{activity('LookupNew').output.firstRow.SYS_CHANGE_VERSION}\n",
              "type": "Expression"
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00",
            "datasetSettings": {
              "type": "SqlServerTable",
              "typeProperties": {
                "database": "MCGDataFactory"
              },
              "schema": [],
              "externalReferences": {
                "connection": "9ec72f35-598c-46cf-b8ad-16ab19fb641f"
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "ParquetSink",
            "formatSettings": {
              "type": "ParquetWriteSettings",
              "enableVertiParquet": true
            },
            "storeSettings": {
              "type": "LakehouseWriteSettings"
            },
            "datasetSettings": {
              "type": "Parquet",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": "MYSGSEU/Delta/Active",
                  "fileName": {
                    "value": "@concat('MYSGSEU','_','tbl_customer_group_members','.parquet')",
                    "type": "Expression"
                  }
                },
                "compressionCodec": "snappy"
              },
              "schema": [],
              "linkedService": {
                "name": "BRONZE",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "3ee820a0-65ee-9781-4ac4-e11f5db3d583",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "tbl_customer_group_members_PARQUET",
        "dependsOn": [
          {
            "activity": "tbl_customer_group_members_CSV",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Script",
        "typeProperties": {
          "database": "SGSWEB",
          "scripts": [
            {
              "text": {
                "value": "UPDATE ChangeTracking_Fabric_Update\r\nSET [SYS_CHANGE_VERSION] = @{activity('LookupNew').output.firstRow.SYS_CHANGE_VERSION}\r\nWHERE [TableName] = 'tbl_customer_group_members'",
                "type": "Expression"
              },
              "type": "Query"
            }
          ],
          "scriptBlockExecutionTimeout": "02:00:00"
        },
        "externalReferences": {
          "connection": "b61c5550-087f-4c68-a3be-ee036e728bd1"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "ChangeTracking_version_Update",
        "dependsOn": [
          {
            "activity": "tbl_customer_group_members_PARQUET",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "DelimitedTextSource",
            "formatSettings": {
              "type": "DelimitedTextReadSettings"
            },
            "storeSettings": {
              "type": "LakehouseReadSettings",
              "recursive": true,
              "enablePartitionDiscovery": false
            },
            "datasetSettings": {
              "type": "DelimitedText",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": "MYSGSEU/Delta/Active",
                  "fileName": "MYSGSEU_tbl_customer_group_members.csv"
                },
                "columnDelimiter": "^",
                "rowDelimiter": "\r\n",
                "quoteChar": "\"",
                "escapeChar": "\\",
                "firstRowAsHeader": true
              },
              "schema": [],
              "linkedService": {
                "name": "BRONZE",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "3ee820a0-65ee-9781-4ac4-e11f5db3d583",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "LakehouseTableSink",
            "tableActionOption": "OverwriteSchema",
            "partitionOption": "None",
            "datasetSettings": {
              "type": "LakehouseTable",
              "typeProperties": {
                "schema": "MYSGSEU",
                "table": "tbl_customer_group_members_DELTA"
              },
              "schema": [],
              "linkedService": {
                "name": "BRONZE",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "3ee820a0-65ee-9781-4ac4-e11f5db3d583",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Tables"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "File_To_Table",
        "dependsOn": [
          {
            "activity": "ChangeTracking_version_Update",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "4ebec76c-5bb6-4c26-8739-c372adb5eb41",
          "workspaceId": "de3e35d4-28a5-4df0-a8d1-00feff73469d",
          "parameters": {
            "in_mode": {
              "value": "DELTA",
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "tbl_customer_group_members_Notebook",
        "dependsOn": [
          {
            "activity": "File_To_Table",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource",
            "datasetSettings": {
              "type": "LakehouseTable",
              "typeProperties": {
                "schema": "MYSGSEU",
                "table": "tbl_customer_group_members"
              },
              "schema": [],
              "linkedService": {
                "name": "SILVER",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "aabf914c-0501-4c58-ba5b-4b0f05f4420f",
                    "workspaceId": "c8d75176-b949-4f7e-a658-b996603ec8c3",
                    "rootFolder": "Tables"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "SnowflakeSink",
            "preCopyScript": {
              "value": "TRUNCATE TABLE \"SILVER\".\"MYSGSEU\".\"tbl_customer_group_members\";",
              "type": "Expression"
            },
            "importSettings": {
              "type": "SnowflakeImportCopyCommand"
            },
            "datasetSettings": {
              "type": "SnowflakeTable",
              "typeProperties": {
                "schema": "MYSGSEU",
                "table": "tbl_customer_group_members",
                "database": "SILVER"
              },
              "schema": [],
              "externalReferences": {
                "connection": "dfdf593d-e2f5-4d2f-aa71-5da8cf3d25ac"
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "mappings": [
              {
                "source": {
                  "name": "SYS_CHANGE_VERSION",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "SYS_CHANGE_VERSION",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "SYS_CHANGE_OPERATION",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "SYS_CHANGE_OPERATION",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "MemberId",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "MemberId",
                  "type": "Int64",
                  "physicalType": "NUMBER",
                  "scale": 0,
                  "precision": 38
                }
              },
              {
                "source": {
                  "name": "GroupId",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "GroupId",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "CustomerId",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "CustomerId",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "ThirdParty",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "ThirdParty",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              }
            ],
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": true
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Fabric_To_SF_tbl_customer_group_members",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": [
          {
            "activity": "tbl_customer_group_members_Notebook",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource",
            "datasetSettings": {
              "type": "LakehouseTable",
              "typeProperties": {
                "schema": "MYSGSEU",
                "table": "tbl_customer_group_members"
              },
              "schema": [],
              "linkedService": {
                "name": "SILVER",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "05f4420f-4b0f-ba5b-4c58-0501aabf914c",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Tables"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "SnowflakeSink",
            "preCopyScript": {
              "value": "TRUNCATE TABLE \"SILVER\".\"MYSGSEU\".\"tbl_customer_group_members\";",
              "type": "Expression"
            },
            "importSettings": {
              "type": "SnowflakeImportCopyCommand"
            },
            "datasetSettings": {
              "type": "SnowflakeTable",
              "typeProperties": {
                "schema": "MYSGSEU",
                "table": "tbl_customer_group_members",
                "database": "SILVER"
              },
              "schema": [],
              "externalReferences": {
                "connection": "5d21465f-20b5-454e-a1d5-e8e11b3c796a"
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "mappings": [
              {
                "source": {
                  "name": "SYS_CHANGE_VERSION",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "SYS_CHANGE_VERSION",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "SYS_CHANGE_OPERATION",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "SYS_CHANGE_OPERATION",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "MemberId",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "MemberId",
                  "type": "Int64",
                  "physicalType": "NUMBER",
                  "scale": 0,
                  "precision": 38
                }
              },
              {
                "source": {
                  "name": "GroupId",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "GroupId",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "CustomerId",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "CustomerId",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "ThirdParty",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "ThirdParty",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              }
            ],
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": true
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Fabric_To_DEV_SF_tbl_customer_group_members",
        "dependsOn": [
          {
            "activity": "tbl_customer_group_members_Notebook",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}