Data Pipelines/MYSGSEU_DELTA/MYSGSEU_tbl_credit_notes_DELTA.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "SqlServerSource",
            "sqlReaderQuery": {
              "value": "SELECT SYS_CHANGE_VERSION FROM ChangeTracking_Fabric_Update WHERE TableName = 'tbl_Credit_Notes'",
              "type": "Expression"
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "SqlServerTable",
            "typeProperties": {
              "database": "SGSWEB"
            },
            "schema": [],
            "externalReferences": {
              "connection": "b61c5550-087f-4c68-a3be-ee036e728bd1"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "LookupOld",
        "dependsOn": []
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "SqlServerSource",
            "sqlReaderQuery": {
              "value": "SELECT DISTINCT \n        ISNULL(MAX(CT.SYS_CHANGE_VERSION),0) AS SYS_CHANGE_VERSION     \nFROM CHANGETABLE(CHANGES [dbo].[tbl_credit_notes],0) CT\nLEFT JOIN [dbo].[tbl_credit_notes] F\n ON CT.[CreditNoteId ] = F.[CreditNoteId ]\nWHERE ISNULL(CT.[SYS_CHANGE_VERSION],'') > ''",
              "type": "Expression"
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "SqlServerTable",
            "typeProperties": {
              "database": "MCGDataFactory"
            },
            "schema": [],
            "externalReferences": {
              "connection": "9ec72f35-598c-46cf-b8ad-16ab19fb641f"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "LookupNew",
        "dependsOn": []
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "SqlServerSource",
            "sqlReaderQuery": {
              "value": "SELECT \n        CT.SYS_CHANGE_VERSION\n       ,CT.SYS_CHANGE_CREATION_VERSION\n       ,CT.SYS_CHANGE_OPERATION\n       ,CT.SYS_CHANGE_COLUMNS\n       ,CT.SYS_CHANGE_CONTEXT\n       ,CT.CreditNoteId AS CT_CreditNoteId\n       ,F.CreditNoteId\n       ,[CreditNoteDateTime]\n       ,[CreditNoteStatus]\n       ,[JobVersionId]\n       ,[InvoiceId]\n       ,[JobContactId]\n       ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE([Address],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [Address]\n       ,[ExchangeRateId]\n       ,[ExchangeRateValue]\n       ,[TaxCodeId]\n       ,[TaxCodeRate]\n       ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE([CreditReason],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [CreditReason]\n       ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE([CreditNoteNotes],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [CreditNoteNotes]\n       ,[ApprovedBy]\n       ,[ApprovedDateTime]\n       ,   CASE\n     WHEN [CreditNoteReadyForExport] = 'True' THEN 1      \n     WHEN [CreditNoteReadyForExport] = 'False' THEN 0\n  ELSE [CreditNoteReadyForExport]\nEND AS [CreditNoteReadyForExport]\n       ,\t   CASE\n     WHEN [CreditNoteExported] = 'True' THEN 1      \n     WHEN [CreditNoteExported] = 'False' THEN 0\n  ELSE [CreditNoteExported]\nEND AS [CreditNoteExported]\n       ,[CreditNoteExportedDateTime]\n       ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE([CreditNoteTitle],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [CreditNoteTitle]\n       ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE([ClientPON],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [ClientPON]\n       ,[CurrencyId]\n       ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE([PostingAddress],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [PostingAddress]\n       ,[ExportStatus]\n       ,[EntityId]\n       , CASE\n     WHEN [TaxExemptionOverride] = 'True' THEN 1      \n     WHEN [TaxExemptionOverride] = 'False' THEN 0\n  ELSE [TaxExemptionOverride]\nEND AS [TaxExemptionOverride]\n       FROM  CHANGETABLE(CHANGES [dbo].[tbl_credit_notes],@{activity('LookupOld').output.firstRow.SYS_CHANGE_VERSION}) CT \n     LEFT JOIN [dbo].[tbl_credit_notes] F\n     ON CT.CreditNoteId  = F.CreditNoteId \n     WHERE ISNULL(CT.[SYS_CHANGE_VERSION],'') > ''\n     AND ISNULL(CT.SYS_CHANGE_VERSION,0) <= @{activity('LookupNew').output.firstRow.SYS_CHANGE_VERSION}",
              "type": "Expression"
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00",
            "datasetSettings": {
              "type": "SqlServerTable",
              "typeProperties": {
                "database": "MCGDataFactory"
              },
              "schema": [],
              "externalReferences": {
                "connection": "9ec72f35-598c-46cf-b8ad-16ab19fb641f"
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "DelimitedTextSink",
            "formatSettings": {
              "type": "DelimitedTextWriteSettings",
              "quoteAllText": true,
              "fileExtension": ".csv"
            },
            "storeSettings": {
              "type": "LakehouseWriteSettings"
            },
            "datasetSettings": {
              "type": "DelimitedText",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": "MYSGSEU/Delta/Active",
                  "fileName": {
                    "value": "@concat('MYSGSEU','_','tbl_credit_notes','.csv')",
                    "type": "Expression"
                  }
                },
                "columnDelimiter": "^",
                "rowDelimiter": "\r\n",
                "quoteChar": "\"",
                "escapeChar": "\\",
                "firstRowAsHeader": true
              },
              "schema": [],
              "linkedService": {
                "name": "BRONZE",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "3ee820a0-65ee-9781-4ac4-e11f5db3d583",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "tbl_credit_notes_DELTA_CSV",
        "dependsOn": [
          {
            "activity": "LookupNew",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "LookupOld",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "SqlServerSource",
            "sqlReaderQuery": {
              "value": "SELECT \n        CT.SYS_CHANGE_VERSION\n       ,CT.SYS_CHANGE_CREATION_VERSION\n       ,CT.SYS_CHANGE_OPERATION\n       ,CT.SYS_CHANGE_COLUMNS\n       ,CT.SYS_CHANGE_CONTEXT\n       ,CT.CreditNoteId AS CT_CreditNoteId\n       ,F.CreditNoteId\n       ,[CreditNoteDateTime]\n       ,[CreditNoteStatus]\n       ,[JobVersionId]\n       ,[InvoiceId]\n       ,[JobContactId]\n       ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE([Address],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [Address]\n       ,[ExchangeRateId]\n       ,[ExchangeRateValue]\n       ,[TaxCodeId]\n       ,[TaxCodeRate]\n       ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE([CreditReason],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [CreditReason]\n       ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE([CreditNoteNotes],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [CreditNoteNotes]\n       ,[ApprovedBy]\n       ,[ApprovedDateTime]\n       ,   CASE\n     WHEN [CreditNoteReadyForExport] = 'True' THEN 1      \n     WHEN [CreditNoteReadyForExport] = 'False' THEN 0\n  ELSE [CreditNoteReadyForExport]\nEND AS [CreditNoteReadyForExport]\n       ,\t   CASE\n     WHEN [CreditNoteExported] = 'True' THEN 1      \n     WHEN [CreditNoteExported] = 'False' THEN 0\n  ELSE [CreditNoteExported]\nEND AS [CreditNoteExported]\n       ,[CreditNoteExportedDateTime]\n       ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE([CreditNoteTitle],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [CreditNoteTitle]\n       ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE([ClientPON],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [ClientPON]\n       ,[CurrencyId]\n       ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE([PostingAddress],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [PostingAddress]\n       ,[ExportStatus]\n       ,[EntityId]\n       , CASE\n     WHEN [TaxExemptionOverride] = 'True' THEN 1      \n     WHEN [TaxExemptionOverride] = 'False' THEN 0\n  ELSE [TaxExemptionOverride]\nEND AS [TaxExemptionOverride]\n       FROM  CHANGETABLE(CHANGES [dbo].[tbl_credit_notes],@{activity('LookupOld').output.firstRow.SYS_CHANGE_VERSION}) CT \n     LEFT JOIN [dbo].[tbl_credit_notes] F\n     ON CT.CreditNoteId  = F.CreditNoteId \n     WHERE ISNULL(CT.[SYS_CHANGE_VERSION],'') > ''\n     AND ISNULL(CT.SYS_CHANGE_VERSION,0) <= @{activity('LookupNew').output.firstRow.SYS_CHANGE_VERSION}",
              "type": "Expression"
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00",
            "datasetSettings": {
              "type": "SqlServerTable",
              "typeProperties": {
                "database": "MCGDataFactory"
              },
              "schema": [],
              "externalReferences": {
                "connection": "9ec72f35-598c-46cf-b8ad-16ab19fb641f"
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "ParquetSink",
            "formatSettings": {
              "type": "ParquetWriteSettings",
              "enableVertiParquet": true
            },
            "storeSettings": {
              "type": "LakehouseWriteSettings"
            },
            "datasetSettings": {
              "type": "Parquet",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": "MYSGSEU/Delta/Active",
                  "fileName": {
                    "value": "@concat('MYSGSEU','_','tbl_credit_notes','.parquet')",
                    "type": "Expression"
                  }
                },
                "compressionCodec": "snappy"
              },
              "schema": [],
              "linkedService": {
                "name": "BRONZE",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "3ee820a0-65ee-9781-4ac4-e11f5db3d583",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "tbl_credit_notes_DELTA_PARQUET",
        "dependsOn": [
          {
            "activity": "tbl_credit_notes_DELTA_CSV",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Script",
        "typeProperties": {
          "database": "SGSWEB",
          "scripts": [
            {
              "text": {
                "value": "UPDATE ChangeTracking_Fabric_Update\r\nSET [SYS_CHANGE_VERSION] = @{activity('LookupNew').output.firstRow.SYS_CHANGE_VERSION}\r\nWHERE [TableName] = 'tbl_credit_notes'",
                "type": "Expression"
              },
              "type": "Query"
            }
          ],
          "scriptBlockExecutionTimeout": "02:00:00"
        },
        "externalReferences": {
          "connection": "b61c5550-087f-4c68-a3be-ee036e728bd1"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "ChangeTracking_version_Update",
        "dependsOn": [
          {
            "activity": "tbl_credit_notes_DELTA_PARQUET",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "DelimitedTextSource",
            "formatSettings": {
              "type": "DelimitedTextReadSettings"
            },
            "storeSettings": {
              "type": "LakehouseReadSettings",
              "recursive": true,
              "enablePartitionDiscovery": false
            },
            "datasetSettings": {
              "type": "DelimitedText",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": "MYSGSEU/Delta/Active",
                  "fileName": "MYSGSEU_tbl_credit_notes.csv"
                },
                "columnDelimiter": "^",
                "rowDelimiter": "\r\n",
                "quoteChar": "\"",
                "escapeChar": "\\",
                "firstRowAsHeader": true
              },
              "schema": [],
              "linkedService": {
                "name": "BRONZE",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "3ee820a0-65ee-9781-4ac4-e11f5db3d583",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "LakehouseTableSink",
            "tableActionOption": "OverwriteSchema",
            "partitionOption": "None",
            "datasetSettings": {
              "type": "LakehouseTable",
              "typeProperties": {
                "schema": "MYSGSEU",
                "table": "tbl_credit_notes_DELTA"
              },
              "schema": [],
              "linkedService": {
                "name": "BRONZE",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "3ee820a0-65ee-9781-4ac4-e11f5db3d583",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Tables"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "File_To_Table",
        "dependsOn": [
          {
            "activity": "ChangeTracking_version_Update",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "a9ae8cc3-272d-9610-4887-e2f99dc07521",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "in_mode": {
              "value": "DELTA",
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "tbl_credit_notes_Notebook",
        "dependsOn": [
          {
            "activity": "File_To_Table",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource",
            "datasetSettings": {
              "type": "LakehouseTable",
              "typeProperties": {
                "schema": "MYSGSEU",
                "table": "tbl_credit_notes"
              },
              "schema": [],
              "linkedService": {
                "name": "SILVER",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "05f4420f-4b0f-ba5b-4c58-0501aabf914c",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Tables"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "SnowflakeSink",
            "preCopyScript": {
              "value": "TRUNCATE TABLE \"SILVER_FABRIC\".\"MYSGSEU\".\"tbl_credit_notes\";  ",
              "type": "Expression"
            },
            "importSettings": {
              "type": "SnowflakeImportCopyCommand"
            },
            "datasetSettings": {
              "type": "SnowflakeTable",
              "typeProperties": {
                "schema": "MYSGSEU",
                "table": "tbl_credit_notes",
                "database": "SILVER_FABRIC"
              },
              "schema": [],
              "externalReferences": {
                "connection": "dfdf593d-e2f5-4d2f-aa71-5da8cf3d25ac"
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": true
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Fabric_To_SF_tbl_credit_notes",
        "dependsOn": [
          {
            "activity": "tbl_credit_notes_Notebook",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}