Data Pipelines/MYSGSEU_DELTA/MYSGSEU_tbl_job_versions_DELTA.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "SqlServerSource",
            "sqlReaderQuery": {
              "value": "SELECT  CT.SYS_CHANGE_VERSION\n\t   ,CT.SYS_CHANGE_CREATION_VERSION\n\t   ,CT.SYS_CHANGE_OPERATION\n\t   ,CT.SYS_CHANGE_COLUMNS\n\t   ,CT.SYS_CHANGE_CONTEXT\n\t   ,CT.[JobVersionId] AS CT_JobVersionId\n\t  ,F.[JobVersionId]\n      ,F.[JobId]\n      ,F.[JobVersion]\n      ,F.[JobStatus]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[PackagingReference],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [PackagingReference]\n      ,F.[BookedDateTime]\n      ,F.[JobRangeId]\n      ,F.[Retailer]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[Brand],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [Brand]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[Variety],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [Variety]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[Promotion],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [Promotion]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[Weight],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [Weight]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[LanguageDesc],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [LanguageDesc]\n      ,F.[PlateSizeUnitId]\n      ,F.[TransferMethod]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[TransferNotes],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [TransferNotes]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[SessionId],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [SessionId]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[LegacyDesignNo],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [LegacyDesignNo]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[DespatchNotes],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [DespatchNotes]\n      ,F.[ProjectId]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[MAPSDesignRef],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [MAPSDesignRef]\n      ,F.[MAPSBriefId]\n      ,F.[MAPSLinked]\n      ,F.[Priority]\n      ,F.[FormattedJobNumber]\n      ,F.[ClonedJobVersionId]\n      ,F.[ArtReceived]\n      ,F.[EndUserInfoReceived]\n      ,F.[PrinterInfoReceived]\n      ,F.[LastInfoReceived]\n      ,F.[OrderTypeId]\n      ,F.[PackTypeId]\n      ,F.[JobRelationshipId]\n      ,F.[ImportedContentSource]\n      ,F.[OverallJobDueDate]\n      ,F.[JobRelationship]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[ISOLanguageCodes],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [ISOLanguageCodes]\n      ,F.[WordCount]\n      ,F.[LanguageCount]\n      ,F.[InvoicingStatusId]\nFROM CHANGETABLE(CHANGES dbo.tbl_job_versions,@{activity('LookupOld').output.firstRow.SYS_CHANGE_VERSION}) CT\nLEFT JOIN dbo.tbl_job_versions F\n ON F.[JobVersionId] = CT.[JobVersionId]\nWHERE CT.SYS_CHANGE_VERSION IS NOT NULL\nAND ISNULL(CT.SYS_CHANGE_VERSION,0) <= @{activity('LookupNew').output.firstRow.SYS_CHANGE_VERSION}",
              "type": "Expression"
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00",
            "datasetSettings": {
              "type": "SqlServerTable",
              "typeProperties": {
                "database": "MCGDataFactory"
              },
              "schema": [],
              "externalReferences": {
                "connection": "9ec72f35-598c-46cf-b8ad-16ab19fb641f"
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "ParquetSink",
            "formatSettings": {
              "type": "ParquetWriteSettings",
              "enableVertiParquet": true
            },
            "storeSettings": {
              "type": "LakehouseWriteSettings"
            },
            "datasetSettings": {
              "type": "Parquet",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": "MYSGSEU/Delta/Active",
                  "fileName": {
                    "value": "@concat('MYSGSEU','_','tbl_job_versions','.parquet')",
                    "type": "Expression"
                  }
                },
                "compressionCodec": "snappy"
              },
              "schema": [],
              "linkedService": {
                "name": "BRONZE",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "3ee820a0-65ee-9781-4ac4-e11f5db3d583",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "tbl_job_versions_DELTA_PARQUET",
        "dependsOn": [
          {
            "activity": "tbl_job_versions_DELTA_CSV",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "SqlServerSource",
            "sqlReaderQuery": {
              "value": "SELECT  CT.SYS_CHANGE_VERSION\n\t   ,CT.SYS_CHANGE_CREATION_VERSION\n\t   ,CT.SYS_CHANGE_OPERATION\n\t   ,CT.SYS_CHANGE_COLUMNS\n\t   ,CT.SYS_CHANGE_CONTEXT\n\t   ,CT.[JobVersionId] AS CT_JobVersionId\n\t  ,F.[JobVersionId]\n      ,F.[JobId]\n      ,F.[JobVersion]\n      ,F.[JobStatus]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[PackagingReference],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [PackagingReference]\n      ,F.[BookedDateTime]\n      ,F.[JobRangeId]\n      ,F.[Retailer]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[Brand],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [Brand]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[Variety],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [Variety]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[Promotion],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [Promotion]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[Weight],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [Weight]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[LanguageDesc],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [LanguageDesc]\n      ,F.[PlateSizeUnitId]\n      ,F.[TransferMethod]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[TransferNotes],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [TransferNotes]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[SessionId],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [SessionId]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[LegacyDesignNo],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [LegacyDesignNo]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[DespatchNotes],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [DespatchNotes]\n      ,F.[ProjectId]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[MAPSDesignRef],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [MAPSDesignRef]\n      ,F.[MAPSBriefId]\n      ,F.[MAPSLinked]\n      ,F.[Priority]\n      ,F.[FormattedJobNumber]\n      ,F.[ClonedJobVersionId]\n      ,F.[ArtReceived]\n      ,F.[EndUserInfoReceived]\n      ,F.[PrinterInfoReceived]\n      ,F.[LastInfoReceived]\n      ,F.[OrderTypeId]\n      ,F.[PackTypeId]\n      ,F.[JobRelationshipId]\n      ,F.[ImportedContentSource]\n      ,F.[OverallJobDueDate]\n      ,F.[JobRelationship]\n      ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(F.[ISOLanguageCodes],'^',''),'\"',''),'\\',''),CHAR(10),''),CHAR(13),'') AS [ISOLanguageCodes]\n      ,F.[WordCount]\n      ,F.[LanguageCount]\n      ,F.[InvoicingStatusId]\nFROM CHANGETABLE(CHANGES dbo.tbl_job_versions,@{activity('LookupOld').output.firstRow.SYS_CHANGE_VERSION}) CT\nLEFT JOIN dbo.tbl_job_versions F\n ON F.[JobVersionId] = CT.[JobVersionId]\nWHERE CT.SYS_CHANGE_VERSION IS NOT NULL\nAND ISNULL(CT.SYS_CHANGE_VERSION,0) <= @{activity('LookupNew').output.firstRow.SYS_CHANGE_VERSION}",
              "type": "Expression"
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00",
            "datasetSettings": {
              "type": "SqlServerTable",
              "typeProperties": {
                "database": "MCGDataFactory"
              },
              "schema": [],
              "externalReferences": {
                "connection": "9ec72f35-598c-46cf-b8ad-16ab19fb641f"
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "DelimitedTextSink",
            "formatSettings": {
              "type": "DelimitedTextWriteSettings",
              "quoteAllText": true,
              "fileExtension": ".csv"
            },
            "storeSettings": {
              "type": "LakehouseWriteSettings"
            },
            "datasetSettings": {
              "type": "DelimitedText",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": "MYSGSEU/Delta/Active",
                  "fileName": {
                    "value": "@concat('MYSGSEU','_','tbl_job_versions','.csv')",
                    "type": "Expression"
                  }
                },
                "columnDelimiter": "^",
                "rowDelimiter": "\r\n",
                "quoteChar": "\"",
                "escapeChar": "\\",
                "firstRowAsHeader": true
              },
              "schema": [],
              "linkedService": {
                "name": "BRONZE",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "3ee820a0-65ee-9781-4ac4-e11f5db3d583",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "tbl_job_versions_DELTA_CSV",
        "dependsOn": [
          {
            "activity": "LookupNew",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "LookupOld",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "SqlServerSource",
            "sqlReaderQuery": {
              "value": "SELECT DISTINCT \n\t\tISNULL(MAX(CT.SYS_CHANGE_VERSION),0) AS SYS_CHANGE_VERSION\t   \nFROM CHANGETABLE(CHANGES dbo.tbl_job_versions,0) CT\nLEFT JOIN dbo.tbl_job_versions F\n ON CT.[JobVersionId] = F.[JobVersionId]\nWHERE ISNULL(CT.[SYS_CHANGE_VERSION],'') > ''",
              "type": "Expression"
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "SqlServerTable",
            "typeProperties": {
              "database": "MCGDataFactory"
            },
            "schema": [],
            "externalReferences": {
              "connection": "9ec72f35-598c-46cf-b8ad-16ab19fb641f"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "LookupNew",
        "dependsOn": []
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "SqlServerSource",
            "sqlReaderQuery": {
              "value": "SELECT SYS_CHANGE_VERSION FROM ChangeTracking_Fabric_Update WHERE TableName = 'tbl_job_versions'\n",
              "type": "Expression"
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "SqlServerTable",
            "typeProperties": {
              "database": "SGSWEB"
            },
            "schema": [],
            "externalReferences": {
              "connection": "b61c5550-087f-4c68-a3be-ee036e728bd1"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "LookupOld",
        "dependsOn": []
      },
      {
        "type": "Script",
        "typeProperties": {
          "database": "SGSWEB",
          "scripts": [
            {
              "text": {
                "value": "UPDATE ChangeTracking_Fabric_Update\r\nSET [SYS_CHANGE_VERSION] = @{activity('LookupNew').output.firstRow.SYS_CHANGE_VERSION}\r\nWHERE [TableName] = 'tbl_job_versions'",
                "type": "Expression"
              },
              "type": "Query"
            }
          ],
          "scriptBlockExecutionTimeout": "02:00:00"
        },
        "externalReferences": {
          "connection": "b61c5550-087f-4c68-a3be-ee036e728bd1"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "ChangeTracking_version_Update",
        "dependsOn": [
          {
            "activity": "tbl_job_versions_DELTA_PARQUET",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "DelimitedTextSource",
            "formatSettings": {
              "type": "DelimitedTextReadSettings"
            },
            "storeSettings": {
              "type": "LakehouseReadSettings",
              "recursive": true,
              "enablePartitionDiscovery": false
            },
            "datasetSettings": {
              "type": "DelimitedText",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": "MYSGSEU/Delta/Active",
                  "fileName": "MYSGSEU_tbl_job_versions.csv"
                },
                "columnDelimiter": "^",
                "rowDelimiter": "\r\n",
                "quoteChar": "\"",
                "escapeChar": "\\",
                "firstRowAsHeader": true
              },
              "schema": [],
              "linkedService": {
                "name": "BRONZE",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "3ee820a0-65ee-9781-4ac4-e11f5db3d583",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "LakehouseTableSink",
            "tableActionOption": "OverwriteSchema",
            "partitionOption": "None",
            "datasetSettings": {
              "type": "LakehouseTable",
              "typeProperties": {
                "schema": "MYSGSEU",
                "table": "tbl_job_versions_DELTA"
              },
              "schema": [],
              "linkedService": {
                "name": "BRONZE",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "3ee820a0-65ee-9781-4ac4-e11f5db3d583",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Tables"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "File_To_Table",
        "dependsOn": [
          {
            "activity": "ChangeTracking_version_Update",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "1383c43e-0bdf-96f4-4c89-8f7e31b3ba18",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "in_mode": {
              "value": "DELTA",
              "type": "string"
            }
          }
        },
        "policy": {
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "tbl_job_versions_Notebook",
        "dependsOn": [
          {
            "activity": "File_To_Table",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource",
            "datasetSettings": {
              "type": "LakehouseTable",
              "typeProperties": {
                "schema": "MYSGSEU",
                "table": "tbl_job_versions"
              },
              "schema": [],
              "linkedService": {
                "name": "SILVER",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "aabf914c-0501-4c58-ba5b-4b0f05f4420f",
                    "workspaceId": "c8d75176-b949-4f7e-a658-b996603ec8c3",
                    "rootFolder": "Tables"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "SnowflakeSink",
            "preCopyScript": {
              "value": "TRUNCATE TABLE \"SILVER\".\"MYSGSEU\".\"tbl_job_versions\";",
              "type": "Expression"
            },
            "importSettings": {
              "type": "SnowflakeImportCopyCommand"
            },
            "datasetSettings": {
              "type": "SnowflakeTable",
              "typeProperties": {
                "schema": "MYSGSEU",
                "table": "tbl_job_versions",
                "database": "SILVER"
              },
              "schema": [],
              "externalReferences": {
                "connection": "dfdf593d-e2f5-4d2f-aa71-5da8cf3d25ac"
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "mappings": [
              {
                "source": {
                  "name": "SYS_CHANGE_VERSION",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "SYS_CHANGE_VERSION",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "SYS_CHANGE_OPERATION",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "SYS_CHANGE_OPERATION",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "JobVersionId",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "JobVersionId",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "JobId",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "JobId",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "JobVersion",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "JobVersion",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "JobStatus",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "JobStatus",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "PackagingReference",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "PackagingReference",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "BookedDateTime",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "BookedDateTime",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "JobRangeId",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "JobRangeId",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "Retailer",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "Retailer",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "Brand",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "Brand",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "Variety",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "Variety",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "Promotion",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "Promotion",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "Weight",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "Weight",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "LanguageDesc",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "LanguageDesc",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "PlateSizeUnitId",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "PlateSizeUnitId",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "TransferMethod",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "TransferMethod",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "TransferNotes",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "TransferNotes",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "SessionId",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "SessionId",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "LegacyDesignNo",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "LegacyDesignNo",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "DespatchNotes",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "DespatchNotes",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "ProjectId",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "ProjectId",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "MAPSDesignRef",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "MAPSDesignRef",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "MAPSBriefId",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "MAPSBriefId",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "MAPSLinked",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "MAPSLinked",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "Priority",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "Priority",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "FormattedJobNumber",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "FormattedJobNumber",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "ClonedJobVersionId",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "ClonedJobVersionId",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "ArtReceived",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "ArtReceived",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "EndUserInfoReceived",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "EndUserInfoReceived",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "PrinterInfoReceived",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "PrinterInfoReceived",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "LastInfoReceived",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "LastInfoReceived",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "OrderTypeId",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "OrderTypeId",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "PackTypeId",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "PackTypeId",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "JobRelationshipId",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "JobRelationshipId",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "ImportedContentSource",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "ImportedContentSource",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "OverallJobDueDate",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "OverallJobDueDate",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "JobRelationship",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "JobRelationship",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "ISOLanguageCodes",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "ISOLanguageCodes",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "WordCount",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "WordCount",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "LanguageCount",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "LanguageCount",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "InvoicingStatusId",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "InvoicingStatusId",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              }
            ],
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": true
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Fabric_To_SF_tbl_job_versions",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": [
          {
            "activity": "tbl_job_versions_Notebook",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource",
            "datasetSettings": {
              "type": "LakehouseTable",
              "typeProperties": {
                "schema": "MYSGSEU",
                "table": "tbl_job_versions"
              },
              "schema": [],
              "linkedService": {
                "name": "SILVER",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "05f4420f-4b0f-ba5b-4c58-0501aabf914c",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Tables"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "SnowflakeSink",
            "preCopyScript": {
              "value": "TRUNCATE TABLE \"SILVER\".\"MYSGSEU\".\"tbl_job_versions\";",
              "type": "Expression"
            },
            "importSettings": {
              "type": "SnowflakeImportCopyCommand"
            },
            "datasetSettings": {
              "type": "SnowflakeTable",
              "typeProperties": {
                "schema": "MYSGSEU",
                "table": "tbl_job_versions",
                "database": "SILVER"
              },
              "schema": [],
              "externalReferences": {
                "connection": "5d21465f-20b5-454e-a1d5-e8e11b3c796a"
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "mappings": [
              {
                "source": {
                  "name": "SYS_CHANGE_VERSION",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "SYS_CHANGE_VERSION",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "SYS_CHANGE_OPERATION",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "SYS_CHANGE_OPERATION",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "JobVersionId",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "JobVersionId",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "JobId",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "JobId",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "JobVersion",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "JobVersion",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "JobStatus",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "JobStatus",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "PackagingReference",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "PackagingReference",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "BookedDateTime",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "BookedDateTime",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "JobRangeId",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "JobRangeId",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "Retailer",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "Retailer",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "Brand",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "Brand",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "Variety",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "Variety",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "Promotion",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "Promotion",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "Weight",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "Weight",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "LanguageDesc",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "LanguageDesc",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "PlateSizeUnitId",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "PlateSizeUnitId",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "TransferMethod",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "TransferMethod",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "TransferNotes",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "TransferNotes",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "SessionId",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "SessionId",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "LegacyDesignNo",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "LegacyDesignNo",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "DespatchNotes",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "DespatchNotes",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "ProjectId",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "ProjectId",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "MAPSDesignRef",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "MAPSDesignRef",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "MAPSBriefId",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "MAPSBriefId",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "MAPSLinked",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "MAPSLinked",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "Priority",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "Priority",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "FormattedJobNumber",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "FormattedJobNumber",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "ClonedJobVersionId",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "ClonedJobVersionId",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "ArtReceived",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "ArtReceived",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "EndUserInfoReceived",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "EndUserInfoReceived",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "PrinterInfoReceived",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "PrinterInfoReceived",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "LastInfoReceived",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "LastInfoReceived",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "OrderTypeId",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "OrderTypeId",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "PackTypeId",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "PackTypeId",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "JobRelationshipId",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "JobRelationshipId",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "ImportedContentSource",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "ImportedContentSource",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "OverallJobDueDate",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "OverallJobDueDate",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "JobRelationship",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "JobRelationship",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "ISOLanguageCodes",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "ISOLanguageCodes",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "WordCount",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "WordCount",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "LanguageCount",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "LanguageCount",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "InvoicingStatusId",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "InvoicingStatusId",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              }
            ],
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": true
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Fabric_To_Dev_SF_tbl_job_versions",
        "dependsOn": [
          {
            "activity": "tbl_job_versions_Notebook",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}