Data Pipelines/MYSGSEU_DELTA/MYSGSEU_tbl_extra_details_fields_DELTA.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "SqlServerSource",
            "sqlReaderQuery": {
              "value": "SELECT \n       CT.[SYS_CHANGE_VERSION]\n\t  ,CT.[SYS_CHANGE_CREATION_VERSION]\n\t  ,CT.[SYS_CHANGE_OPERATION]\n\t  ,CT.[SYS_CHANGE_COLUMNS]\n\t  ,CT.[SYS_CHANGE_CONTEXT]\n\t  ,CT.[FieldId] as CT_FieldId\n      ,F.[FieldId]\n      ,F.[ExtraDetailsId]\n      ,F.[FieldName]\n      ,F.[FieldType]\n      ,F.[FieldLength]\n      ,F.[InputBoxSize]\n      ,F.[MLCKey]\n      ,F.[Validation]\n      ,F.[ComboListType]\n      ,F.[Mandatory]\n      ,F.[MLCValue]\n  FROM CHANGETABLE(CHANGES [DBO].[tbl_extra_details_fields],@{activity('LookupOld').output.firstRow.SYS_CHANGE_VERSION}) CT\n  LEFT JOIN  [DBO].[tbl_extra_details_fields] F\n  ON CT.[FieldId] = F.[FieldId]\n  WHERE ISNULL(CT.[SYS_CHANGE_VERSION],'') > ''\n  AND ISNULL(CT.SYS_CHANGE_VERSION,0) <= @{activity('LookupNew').output.firstRow.SYS_CHANGE_VERSION}",
              "type": "Expression"
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00",
            "datasetSettings": {
              "type": "SqlServerTable",
              "typeProperties": {
                "database": "MCGDataFactory"
              },
              "schema": [],
              "externalReferences": {
                "connection": "9ec72f35-598c-46cf-b8ad-16ab19fb641f"
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "ParquetSink",
            "formatSettings": {
              "type": "ParquetWriteSettings",
              "enableVertiParquet": true
            },
            "storeSettings": {
              "type": "LakehouseWriteSettings"
            },
            "datasetSettings": {
              "type": "Parquet",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": "MYSGSEU/Delta/Active",
                  "fileName": {
                    "value": "@concat('MYSGSEU','_','tbl_extra_details_fields','.parquet')",
                    "type": "Expression"
                  }
                },
                "compressionCodec": "snappy"
              },
              "schema": [],
              "linkedService": {
                "name": "BRONZE",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "3ee820a0-65ee-9781-4ac4-e11f5db3d583",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "tbl_extra_details_fields_DELTA_PARQUET",
        "dependsOn": [
          {
            "activity": "tbl_extra_details_fields_DELTA_CSV",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "SqlServerSource",
            "sqlReaderQuery": {
              "value": "SELECT \n       CT.[SYS_CHANGE_VERSION]\n\t  ,CT.[SYS_CHANGE_CREATION_VERSION]\n\t  ,CT.[SYS_CHANGE_OPERATION]\n\t  ,CT.[SYS_CHANGE_COLUMNS]\n\t  ,CT.[SYS_CHANGE_CONTEXT]\n\t  ,CT.[FieldId] as CT_FieldId\n      ,F.[FieldId]\n      ,F.[ExtraDetailsId]\n      ,F.[FieldName]\n      ,F.[FieldType]\n      ,F.[FieldLength]\n      ,F.[InputBoxSize]\n      ,F.[MLCKey]\n      ,F.[Validation]\n      ,F.[ComboListType]\n      ,F.[Mandatory]\n      ,F.[MLCValue]\n  FROM CHANGETABLE(CHANGES [DBO].[tbl_extra_details_fields],@{activity('LookupOld').output.firstRow.SYS_CHANGE_VERSION}) CT\n  LEFT JOIN  [DBO].[tbl_extra_details_fields] F\n  ON CT.[FieldId] = F.[FieldId]\n  WHERE ISNULL(CT.[SYS_CHANGE_VERSION],'') > ''\n  AND ISNULL(CT.SYS_CHANGE_VERSION,0) <= @{activity('LookupNew').output.firstRow.SYS_CHANGE_VERSION}",
              "type": "Expression"
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00",
            "datasetSettings": {
              "type": "SqlServerTable",
              "typeProperties": {
                "database": "MCGDataFactory"
              },
              "schema": [],
              "externalReferences": {
                "connection": "9ec72f35-598c-46cf-b8ad-16ab19fb641f"
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "DelimitedTextSink",
            "formatSettings": {
              "type": "DelimitedTextWriteSettings",
              "quoteAllText": true,
              "fileExtension": ".csv"
            },
            "storeSettings": {
              "type": "LakehouseWriteSettings"
            },
            "datasetSettings": {
              "type": "DelimitedText",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": "MYSGSEU/Delta/Active",
                  "fileName": {
                    "value": "@concat('MYSGSEU','_','tbl_extra_details_fields','.csv')",
                    "type": "Expression"
                  }
                },
                "columnDelimiter": "^",
                "rowDelimiter": "\r\n",
                "quoteChar": "\"",
                "escapeChar": "\\",
                "firstRowAsHeader": true
              },
              "schema": [],
              "linkedService": {
                "name": "BRONZE",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "3ee820a0-65ee-9781-4ac4-e11f5db3d583",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "tbl_extra_details_fields_DELTA_CSV",
        "dependsOn": [
          {
            "activity": "LookupNew",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "LookupOld",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "SqlServerSource",
            "sqlReaderQuery": {
              "value": "SELECT DISTINCT \n\t\tISNULL(MAX(CT.SYS_CHANGE_VERSION),0) AS SYS_CHANGE_VERSION\t   \nFROM CHANGETABLE(CHANGES [DBO].[tbl_extra_details_fields],0) CT\nLEFT JOIN [DBO].[tbl_extra_details_fields] F\n ON CT.[FieldId] = F.[FieldId]\nWHERE ISNULL(CT.[SYS_CHANGE_VERSION],'') > ''",
              "type": "Expression"
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "SqlServerTable",
            "typeProperties": {
              "database": "MCGDataFactory"
            },
            "schema": [],
            "externalReferences": {
              "connection": "9ec72f35-598c-46cf-b8ad-16ab19fb641f"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "LookupNew",
        "dependsOn": []
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "SqlServerSource",
            "sqlReaderQuery": {
              "value": "SELECT SYS_CHANGE_VERSION FROM ChangeTracking_Fabric_Update WHERE TableName = 'tbl_extra_details_fields'",
              "type": "Expression"
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "SqlServerTable",
            "typeProperties": {
              "database": "SGSEDW"
            },
            "schema": [],
            "externalReferences": {
              "connection": "ff095757-8473-4556-8458-e2e46c574e03"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "LookupOld",
        "dependsOn": []
      },
      {
        "type": "Script",
        "typeProperties": {
          "database": "SGSEDW",
          "scripts": [
            {
              "text": {
                "value": "UPDATE ChangeTracking_Fabric_Update\r\nSET [SYS_CHANGE_VERSION] = @{activity('LookupNew').output.firstRow.SYS_CHANGE_VERSION}\r\nWHERE [TableName] = 'tbl_extra_details_fields'",
                "type": "Expression"
              },
              "type": "Query"
            }
          ],
          "scriptBlockExecutionTimeout": "02:00:00"
        },
        "externalReferences": {
          "connection": "ff095757-8473-4556-8458-e2e46c574e03"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "ChangeTracking_version_Update",
        "dependsOn": [
          {
            "activity": "tbl_extra_details_fields_DELTA_PARQUET",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "DelimitedTextSource",
            "formatSettings": {
              "type": "DelimitedTextReadSettings"
            },
            "storeSettings": {
              "type": "LakehouseReadSettings",
              "recursive": true,
              "enablePartitionDiscovery": false
            },
            "datasetSettings": {
              "type": "DelimitedText",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": "MYSGSEU/Delta/Active",
                  "fileName": "MYSGSEU_tbl_extra_details_fields.csv"
                },
                "columnDelimiter": "^",
                "rowDelimiter": "\r\n",
                "quoteChar": "\"",
                "escapeChar": "\\",
                "firstRowAsHeader": true
              },
              "schema": [],
              "linkedService": {
                "name": "BRONZE",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "3ee820a0-65ee-9781-4ac4-e11f5db3d583",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "LakehouseTableSink",
            "tableActionOption": "OverwriteSchema",
            "partitionOption": "None",
            "datasetSettings": {
              "type": "LakehouseTable",
              "typeProperties": {
                "schema": "MYSGSEU",
                "table": "tbl_extra_details_fields_DELTA"
              },
              "schema": [],
              "linkedService": {
                "name": "BRONZE",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "3ee820a0-65ee-9781-4ac4-e11f5db3d583",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Tables"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "File_To_Table",
        "dependsOn": [
          {
            "activity": "ChangeTracking_version_Update",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "d39e2a36-5ef6-a4b0-4c14-7ecc477ae6d7",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "in_mode": {
              "value": "DELTA",
              "type": "string"
            }
          }
        },
        "policy": {
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "tbl_extra_details_fields_Notebook",
        "dependsOn": [
          {
            "activity": "File_To_Table",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource",
            "datasetSettings": {
              "type": "LakehouseTable",
              "typeProperties": {
                "schema": "MYSGSEU",
                "table": "tbl_extra_details_fields"
              },
              "schema": [],
              "linkedService": {
                "name": "SILVER",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "05f4420f-4b0f-ba5b-4c58-0501aabf914c",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Tables"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "SnowflakeSink",
            "preCopyScript": {
              "value": "TRUNCATE TABLE \"SILVER_FABRIC\".\"MYSGSEU\".\"tbl_extra_details_fields\";",
              "type": "Expression"
            },
            "importSettings": {
              "type": "SnowflakeImportCopyCommand"
            },
            "datasetSettings": {
              "type": "SnowflakeTable",
              "typeProperties": {
                "schema": "MYSGSEU",
                "table": "tbl_extra_details_fields",
                "database": "SILVER_FABRIC"
              },
              "schema": [],
              "externalReferences": {
                "connection": "dfdf593d-e2f5-4d2f-aa71-5da8cf3d25ac"
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": true
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Fabric_To_SF_tbl_extra_details_fields",
        "dependsOn": [
          {
            "activity": "tbl_extra_details_fields_Notebook",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource",
            "datasetSettings": {
              "type": "LakehouseTable",
              "typeProperties": {
                "schema": "MYSGSEU",
                "table": "tbl_extra_details_fields"
              },
              "schema": [],
              "linkedService": {
                "name": "SILVER",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "05f4420f-4b0f-ba5b-4c58-0501aabf914c",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Tables"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "SnowflakeSink",
            "preCopyScript": {
              "value": "TRUNCATE TABLE \"SILVER_FABRIC\".\"MYSGSEU\".\"tbl_extra_details_fields\";",
              "type": "Expression"
            },
            "importSettings": {
              "type": "SnowflakeImportCopyCommand"
            },
            "datasetSettings": {
              "type": "SnowflakeTable",
              "typeProperties": {
                "schema": "MYSGSEU",
                "table": "tbl_extra_details_fields",
                "database": "SILVER_FABRIC"
              },
              "schema": [],
              "externalReferences": {
                "connection": "5d21465f-20b5-454e-a1d5-e8e11b3c796a"
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "mappings": [
              {
                "source": {
                  "name": "SYS_CHANGE_VERSION",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "SYS_CHANGE_VERSION",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "SYS_CHANGE_OPERATION",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "SYS_CHANGE_OPERATION",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "FieldId",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "FieldId",
                  "type": "Int64",
                  "physicalType": "NUMBER",
                  "scale": 0,
                  "precision": 38
                }
              },
              {
                "source": {
                  "name": "ExtraDetailsId",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "ExtraDetailsId",
                  "type": "Int64",
                  "physicalType": "NUMBER",
                  "scale": 0,
                  "precision": 38
                }
              },
              {
                "source": {
                  "name": "FieldName",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "FieldName",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "FieldType",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "FieldType",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "FieldLength",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "FieldLength",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "InputBoxSize",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "InputBoxSize",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "MLCKey",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "MLCKey",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "Validation",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "Validation",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "ComboListType",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "ComboListType",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "Mandatory",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "Mandatory",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              },
              {
                "source": {
                  "name": "MLCValue",
                  "type": "String",
                  "physicalType": "string"
                },
                "sink": {
                  "name": "MLCValue",
                  "type": "String",
                  "physicalType": "VARCHAR"
                }
              }
            ],
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": true
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Fabric_To_Dev_SF_tbl_extra_details_fields",
        "dependsOn": [
          {
            "activity": "tbl_extra_details_fields_Notebook",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}